n8n/workflows/commerce-sales/05-cron-abandoned-cart-detector-30m.json
{
  "name": "1. Cron - Abandoned Cart Detector (30m)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "value": 30 }]
        }
      },
      "name": "Schedule: 30m",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://admin.printhub.africa/api/n8n/get-abandoned-carts",
        "method": "GET",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            { "name": "x-printhub-signature", "value": "={{ $vars.N8N_WEBHOOK_SECRET }}" }
          ]
        },
        "options": {}
      },
      "name": "Fetch High Intent Carts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "fieldToSplit": "carts",
        "options": {}
      },
      "name": "Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.cartId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "id": "if-has-cart",
      "name": "If: Has Cart Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.WEBHOOK_URL }}/webhook/cart-abandoned",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            { "name": "x-printhub-signature", "value": "={{ $vars.N8N_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "bodyParametersJson": "={{ JSON.stringify({ cartId: $json.cartId, customerId: $json.customerId, customerEmail: $json.customerEmail, customerPhone: $json.customerPhone, customerName: $json.customerName, items: $json.items, totalValue: $json.totalValue, cartUrl: $vars.APP_URL + '/cart', abandonedAt: $json.lastActivityAt, reminderNumber: $json.reminderStage || 1 }) }}",
        "options": {}
      },
      "id": "trigger-recovery",
      "name": "Trigger: Cart Recovery Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [980, 200]
    },
    {
      "parameters": {
        "url": "={{ $vars.ADMIN_URL }}/api/n8n/log",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            { "name": "x-printhub-signature", "value": "={{ $vars.N8N_WEBHOOK_SECRET }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "ABANDONED_CART_CRON_RUN" },
            { "name": "details", "value": "=Abandoned cart cron: no carts to process this cycle." }
          ]
        },
        "options": {}
      },
      "id": "log-no-carts",
      "name": "Log: No Carts This Cycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [980, 400]
    }
  ],
  "connections": {
    "Schedule: 30m": {
      "main": [[{ "node": "Fetch High Intent Carts", "type": "main", "index": 0 }]]
    },
    "Fetch High Intent Carts": {
      "main": [[{ "node": "Split Batches", "type": "main", "index": 0 }]]
    },
    "Split Batches": {
      "main": [[{ "node": "If: Has Cart Data", "type": "main", "index": 0 }]]
    },
    "If: Has Cart Data": {
      "main": [
        [{ "node": "Trigger: Cart Recovery Workflow", "type": "main", "index": 0 }],
        [{ "node": "Log: No Carts This Cycle", "type": "main", "index": 0 }]
      ]
    }
  },
  "meta": { "instanceId": "printhub-n8n-production" },
  "settings": { "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}" }
}
