n8n/workflows/commerce-sales/08-printhub-quote-submitted-lead-capture.json
{
  "name": "10. PrintHub - Quote Submitted (Lead Flow + PDF)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quote-submitted",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-quote-submit",
      "name": "Webhook: Quote Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "quote-submitted"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Quote Submit'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Quote Submit'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid');\nreturn $node['Webhook: Quote Submit'].json.body;"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.RESEND_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "PrintHub Africa <quotes@printhub.africa>"
            },
            {
              "name": "to",
              "value": "={{$json.customerEmail}}"
            },
            {
              "name": "subject",
              "value": "=Quotation Request: {{$json.projectName || 'New Project'}}"
            },
            {
              "name": "html",
              "value": "=<p>Hi {{$json.customerName}},</p><p>We have received your request. Attached is a summary draft.</p><p><a href='{{$vars.APP_URL}}'>Visit PrintHub Africa →</a></p>"
            }
          ]
        },
        "options": {}
      },
      "id": "email-draft-quote",
      "name": "Email: Draft Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://a.klaviyo.com/api/events/",
        "method": "POST",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{$vars.KLAVIYO_API_KEY}}"
            },
            {
              "name": "revision",
              "value": "2024-02-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ { \"type\": \"event\", \"attributes\": { \"profile\": { \"data\": { \"type\": \"profile\", \"attributes\": { \"email\": $json.customerEmail } } }, \"metric\": { \"data\": { \"type\": \"metric\", \"attributes\": { \"name\": \"Submitted Quote\" } } }, \"properties\": { \"customerName\": $json.customerName, \"projectName\": $json.projectName } } } }}"
            }
          ]
        }
      },
      "id": "klaviyo-lead-capture",
      "name": "Klaviyo: Add Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        750,
        450
      ]
    },
    {
      "parameters": {
        "url": "={{$vars.LISTMONK_URL}}/api/subscribers",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$json.customerEmail}}"
            },
            {
              "name": "name",
              "value": "={{$json.customerName}}"
            },
            {
              "name": "lists",
              "value": [
                "={{$vars.LISTMONK_DEFAULT_LIST_ID || 1}}"
              ]
            },
            {
              "name": "status",
              "value": "enabled"
            }
          ]
        }
      },
      "id": "listmonk-lead-capture",
      "name": "Listmonk: Add Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Quote Submit": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Email: Draft Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Draft Quote": {
      "main": [
        [
          {
            "node": "Klaviyo: Add Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klaviyo: Add Lead": {
      "main": [
        [
          {
            "node": "Listmonk: Add Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "printhub-n8n-production"
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}