n8n/workflows/commerce-sales/09-printhub-quote-ready-notification.json
{
  "name": "11. PrintHub - Quote Ready (PDF & Customer Close)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quote-ready",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-quote-ready",
      "name": "Webhook: Quote Ready",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "webhookId": "quote-ready"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Quote Ready'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Quote Ready'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Quote Ready'].json.body;"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$vars.ADMIN_URL}}/api/n8n/get-quote-context",
        "method": "GET",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "qs": [
          {
            "name": "quoteId",
            "value": "={{ $json.quoteId }}"
          }
        ]
      },
      "id": "get-full-quote-details",
      "name": "Get Full Quote Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$vars.ADMIN_URL}}/api/n8n/generate-pdf",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"type\": \"QUOTE\", \"filename\": \"quote-{{ $json.quoteNumber || $json.id }}.pdf\", \"data\": { \"businessName\": \"PrintHub Africa\", \"businessAddress\": \"Nairobi, Kenya\", \"invoiceNumber\": \"{{ $json.quoteNumber || $json.id }}\", \"orderNumber\": \"{{ $json.id }}\", \"date\": \"{{ new Date().toLocaleDateString('en-GB') }}\", \"billTo\": \"{{ $json.customerName }}\", \"billToEmail\": \"{{ $json.customerEmail }}\", \"billToAddress\": \"Kenya\", \"items\": [{ \"name\": \"{{ $json.projectName }}\", \"qty\": 1, \"unitPrice\": {{ $json.amount || 0 }}, \"lineTotal\": {{ $json.amount || 0 }} }], \"subtotal\": {{ $json.amount || 0 }}, \"vatAmount\": {{ ($json.amount || 0) * 0.16 }}, \"totalAmount\": {{ ($json.amount || 0) * 1.16 }}, \"vatOnInvoices\": true } }"
      },
      "id": "generate-quote-pdf",
      "name": "Generate Quote PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$vars.ADMIN_URL}}/api/n8n/get-template",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"slug\": \"quote-ready-email\", \"type\": \"EMAIL\" }"
      },
      "id": "fetch-email-template",
      "name": "Fetch Email Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{$vars.ADMIN_URL}}/api/n8n/get-template",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"slug\": \"quote-ready-whatsapp\", \"type\": \"WHATSAPP\" }"
      },
      "id": "fetch-whatsapp-template",
      "name": "Fetch WhatsApp Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.RESEND_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"from\": \"PrintHub Africa <quotes@printhub.africa>\", \"to\": \"{{ $node['Get Full Quote Details'].json.customerEmail }}\", \"subject\": \"{{ $node['Fetch Email Template'].json.subject }}\", \"html\": \"{{ ($node['Fetch Email Template'].json.bodyHtml || '').replace(/{{customerName}}/g, $node['Get Full Quote Details'].json.customerName).replace(/{{projectName}}/g, $node['Get Full Quote Details'].json.projectName).replace(/{{quoteTotal}}/g, (($node['Get Full Quote Details'].json.amount || 0) * 1.16).toLocaleString()).replace(/{{pdfUrl}}/g, $node['Generate Quote PDF'].json.pdfUrl || '') }}\" }"
      },
      "id": "email-quote-to-customer",
      "name": "Email: Quote to Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        150
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.WHATSAPP_ACCESS_TOKEN}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $node['Get Full Quote Details'].json.customerPhone }}\", \"type\": \"text\", \"text\": { \"body\": \"{{ ($node['Fetch WhatsApp Template'].json.bodyText || '').replace(/{{customerName}}/g, $node['Get Full Quote Details'].json.customerName).replace(/{{projectName}}/g, $node['Get Full Quote Details'].json.projectName).replace(/{{quoteTotal}}/g, (($node['Get Full Quote Details'].json.amount || 0) * 1.16).toLocaleString()) }}\" } }"
      },
      "id": "whatsapp-quote-notification",
      "name": "WhatsApp: Quote Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        350
      ]
    }
  ],
  "connections": {
    "Webhook: Quote Ready": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Get Full Quote Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Quote Details": {
      "main": [
        [
          {
            "node": "Generate Quote PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Email Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch WhatsApp Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Quote PDF": {
      "main": [
        [
          {
            "node": "Email: Quote to Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp: Quote Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Template": {
      "main": [
        [
          {
            "node": "Email: Quote to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch WhatsApp Template": {
      "main": [
        [
          {
            "node": "WhatsApp: Quote Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "printhub-n8n-production"
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}