n8n/workflows/commerce-sales/11-printhub-lead-magnet-capture.json
{
  "name": "15. PrintHub - Lead Magnet Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-magnet",
        "options": { "rawBody": true }
      },
      "id": "webhook-lead-magnet",
      "name": "Webhook: Lead Magnet",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "lead-magnet"
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env['RESEND_API_KEY'] }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "bodyParametersJson": "={ \"from\": \"{{ $env['FROM_NAME'] }} <{{ $env['FROM_EMAIL'] }}>\", \"to\": [\"{{ $json.email }}\"], \"subject\": \"🎁 Your Free Resource from PrintHub Africa\", \"html\": \"<h2>Hi {{ $json.name || 'there' }}!</h2><p>Thanks for your interest in PrintHub Africa — Eldoret's premier 3D printing and large-format printing hub.</p><p>Here's the free resource you requested:</p><p style='margin:24px 0'><a href='{{ $json.resourceUrl || $env['APP_URL'] + '/resources' }}' style='background:#2563eb;color:#fff;padding:12px 24px;text-decoration:none;border-radius:6px;font-weight:bold;'>Download Your Resource →</a></p><p>While you're here — browse our <a href='{{ $env['APP_URL'] }}/shop'>product catalogue</a> or get an instant <a href='{{ $env['APP_URL'] }}/quote'>quote for your project</a>.</p><p style='color:#6b7280;font-size:13px;'>You're receiving this because you signed up at printhub.africa. <a href='#'>Unsubscribe</a></p>\" }"
      },
      "id": "email-lead-magnet",
      "name": "Email: Lead Magnet Delivery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 200]
    },
    {
      "parameters": {
        "url": "={{ $env['ADMIN_URL'] }}/api/n8n/log",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            { "name": "x-printhub-signature", "value": "={{ $env['N8N_WEBHOOK_SECRET'] }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "action", "value": "LEAD_MAGNET_CAPTURED" },
            { "name": "details", "value": "=New lead: {{ $json.email }} ({{ $json.name || 'unnamed' }}) via {{ $json.source || 'website' }}" }
          ]
        },
        "options": {}
      },
      "id": "audit-lead",
      "name": "AuditLog: Lead Captured",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 400]
    },
    {
      "parameters": {
        "url": "={{ $env['ADMIN_URL'] }}/api/n8n/staff-alert",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            { "name": "x-printhub-signature", "value": "={{ $env['N8N_WEBHOOK_SECRET'] }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "SUPPORT_TICKET" },
            { "name": "title", "value": "=🎯 New Lead: {{ $json.email }}" },
            { "name": "message", "value": "=New lead magnet signup\\nName: {{ $json.name || 'Unknown' }}\\nEmail: {{ $json.email }}\\nPhone: {{ $json.phone || 'Not provided' }}\\nSource: {{ $json.source || 'Website' }}" },
            { "name": "urgency", "value": "low" }
          ]
        },
        "options": {}
      },
      "id": "notify-staff-lead",
      "name": "Notify Staff: New Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 300]
    }
  ],
  "connections": {
    "Webhook: Lead Magnet": {
      "main": [[
        { "node": "Email: Lead Magnet Delivery", "type": "main", "index": 0 },
        { "node": "AuditLog: Lead Captured", "type": "main", "index": 0 }
      ]]
    },
    "Email: Lead Magnet Delivery": {
      "main": [[{ "node": "Notify Staff: New Lead", "type": "main", "index": 0 }]]
    },
    "AuditLog: Lead Captured": {
      "main": [[{ "node": "Notify Staff: New Lead", "type": "main", "index": 0 }]]
    }
  },
  "meta": { "instanceId": "printhub-n8n-production" },
  "settings": { "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}" }
}
