n8n/workflows/individual/cron/cron-daily-low-stock-check-800-am-eat.json
{
  "name": "2. Cron - Daily Low Stock Check (8:00 AM EAT)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ],
          "time": "08:00"
        }
      },
      "name": "Schedule: 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://admin.printhub.africa/api/n8n/stock-levels",
        "method": "GET",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        }
      },
      "name": "Pull Inventory Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        320,
        300
      ]
    },
    {
      "name": "Filter: Stock < 5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        300
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.stock}}",
              "operation": "smaller",
              "value2": 5
            }
          ]
        }
      }
    },
    {
      "name": "WhatsApp: Notify Staff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$env.STAFF_WHATSAPP_NUMBER}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={ \"body\": \"⚠️ LOW STOCK ALERT: \" + $json.name + \" (SKU: \" + $json.sku + \") has only \" + $json.stock + \" units left. Reorder soon!\" }"
            }
          ]
        }
      }
    },
    {
      "name": "AuditLog: Low Stock Flagged",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://printhub.africa/api/n8n/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "LOW_STOCK_ALERT"
            },
            {
              "name": "details",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule: 8AM": {
      "main": [
        [
          {
            "node": "Pull Inventory Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Inventory Audit": {
      "main": [
        [
          {
            "node": "Filter: Stock < 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Stock < 5": {
      "main": [
        [
          {
            "node": "WhatsApp: Notify Staff",
            "type": "main",
            "index": 0
          },
          {
            "node": "AuditLog: Low Stock Flagged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}