n8n/workflows/printhub_ai_optimised.json
[
  {
    "name": "AI-8 — Generate Lifestyle Mockups (DALL-E 3 + Stability AI)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "generate-mockups", "options": { "rawBody": true } },
        "name": "Webhook or Execute Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "generate-mockups"
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook or Execute Trigger'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook or Execute Trigger'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook or Execute Trigger'].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [420, 300]
      },
      {
        "parameters": { "jsCode": "const { productId, productName, category, platform } = $json;\nconst cat = category || 'product';\nconst instagramPrompt = `Professional lifestyle photograph of ${productName} in a modern Nairobi home or office setting. Clean, bright, aspirational. The ${cat} is displayed prominently. Warm Kenyan interior aesthetics. Shot on Canon 5D, f/2.8, natural light. No text, no watermarks, no people.`;\nconst linkedinPrompt = `Professional corporate photograph of ${productName} in a modern Nairobi office environment. Clean desk setup, corporate aesthetic. Professional lighting. B2B context. No text, no watermarks.`;\nconst tiktokPrompt = `Vibrant, eye-catching flat lay of ${productName}. Colourful props, trendy aesthetic, Gen-Z appeal. African textile patterns as background. Bright natural light. No text, no watermarks.`;\nreturn [{ productId, productName, category, instagramPrompt, linkedinPrompt, tiktokPrompt }];" },
        "name": "Build DALL-E Prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [640, 300]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/images/generations",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" }] },
          "bodyParametersJson": "={ \"model\": \"dall-e-3\", \"prompt\": \"{{ $json.instagramPrompt }}\", \"n\": 1, \"size\": \"1024x1024\", \"quality\": \"standard\", \"style\": \"natural\" }"
        },
        "name": "DALL-E 3: Instagram Mockup",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 100]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/images/generations",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" }] },
          "bodyParametersJson": "={ \"model\": \"dall-e-3\", \"prompt\": \"{{ $json.linkedinPrompt }}\", \"n\": 1, \"size\": \"1792x1024\", \"quality\": \"standard\", \"style\": \"natural\" }"
        },
        "name": "DALL-E 3: LinkedIn Mockup",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 300]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/images/generations",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" }] },
          "bodyParametersJson": "={ \"model\": \"dall-e-3\", \"prompt\": \"{{ $json.tiktokPrompt }}\", \"n\": 1, \"size\": \"1024x1792\", \"quality\": \"standard\", \"style\": \"natural\" }"
        },
        "name": "DALL-E 3: TikTok Mockup",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 500]
      },
      {
        "parameters": {
          "url": "https://api.stability.ai/v1/generation/stable-diffusion-xl-1024-v1-0/text-to-image",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.STABILITY_API_KEY}}" }] },
          "bodyParametersJson": "={ \"text_prompts\": [{ \"text\": \"{{ $json.instagramPrompt }} photorealistic\", \"weight\": 1 }, { \"text\": \"blurry, low quality, text, watermark, logo\", \"weight\": -1 }], \"cfg_scale\": 7, \"height\": 1024, \"width\": 1024, \"samples\": 2, \"steps\": 30 }"
        },
        "name": "Stability AI: Variations",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 700]
      },
      {
        "parameters": {
          "jsCode": "const productId = $node['Build DALL-E Prompts'].json.productId;\nconst instagramPrompt = $node['Build DALL-E Prompts'].json.instagramPrompt;\nconst dalleIG = $node['DALL-E 3: Instagram Mockup'].json.data?.[0]?.url;\nconst dalleLinkedIn = $node['DALL-E 3: LinkedIn Mockup'].json.data?.[0]?.url;\nconst dalleTikTok = $node['DALL-E 3: TikTok Mockup'].json.data?.[0]?.url;\nconst stabilityImages = $node['Stability AI: Variations'].json.artifacts || [];\nconst imageUrls = [\n  dalleIG ? { url: dalleIG, platform: 'instagram', generator: 'dalle3', prompt: instagramPrompt } : null,\n  dalleLinkedIn ? { url: dalleLinkedIn, platform: 'linkedin', generator: 'dalle3', prompt: $node['Build DALL-E Prompts'].json.linkedinPrompt } : null,\n  dalleTikTok ? { url: dalleTikTok, platform: 'tiktok', generator: 'dalle3', prompt: $node['Build DALL-E Prompts'].json.tiktokPrompt } : null,\n  ...stabilityImages.map((img, i) => img.base64 ? null : { url: `data:image/png;base64,${img.base64}`, platform: 'variation', generator: 'stabilityai', prompt: instagramPrompt + ' variation ' + (i+1) })\n].filter(Boolean);\nreturn [{ productId, imageUrls }];"
        },
        "name": "Collect All Image URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [1080, 400]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/upload-mockup-images",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={{ JSON.stringify({ productId: $json.productId, imageUrls: $json.imageUrls }) }}"
        },
        "name": "Upload Mockups to R2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1300, 400]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-mockup-urls",
          "method": "PATCH",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={{ JSON.stringify({ productId: $node['Upload Mockups to R2'].json.results[0]?.productId || $node['Build DALL-E Prompts'].json.productId, mockups: $node['Upload Mockups to R2'].json.results }) }}"
        },
        "name": "Save Mockup URLs to DB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1520, 400]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] },
          "bodyParametersJson": "={ \"from\": \"PrintHub AI <ai@printhub.africa>\", \"to\": \"{{$env.ADMIN_EMAIL}}\", \"subject\": \"Mockups Ready for Approval: {{$node['Build DALL-E Prompts'].json.productName}}\", \"html\": \"<h2>Lifestyle Mockups Ready</h2><p>{{$node['Upload Mockups to R2'].json.results.length}} mockups generated for <strong>{{$node['Build DALL-E Prompts'].json.productName}}</strong>.</p><p><a href='https://admin.printhub.africa/admin/ai'>Approve in AI Control Centre →</a></p>\" }"
        },
        "name": "Email Admin: Mockups Ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1740, 400]
      }
    ],
    "connections": {
      "Webhook or Execute Trigger": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] },
      "Verify Signature": { "main": [[{ "node": "Build DALL-E Prompts", "type": "main", "index": 0 }]] },
      "Build DALL-E Prompts": {
        "main": [[
          { "node": "DALL-E 3: Instagram Mockup", "type": "main", "index": 0 },
          { "node": "DALL-E 3: LinkedIn Mockup", "type": "main", "index": 0 },
          { "node": "DALL-E 3: TikTok Mockup", "type": "main", "index": 0 },
          { "node": "Stability AI: Variations", "type": "main", "index": 0 }
        ]]
      },
      "DALL-E 3: Instagram Mockup": { "main": [[{ "node": "Collect All Image URLs", "type": "main", "index": 0 }]] },
      "DALL-E 3: LinkedIn Mockup": { "main": [[{ "node": "Collect All Image URLs", "type": "main", "index": 0 }]] },
      "DALL-E 3: TikTok Mockup": { "main": [[{ "node": "Collect All Image URLs", "type": "main", "index": 0 }]] },
      "Stability AI: Variations": { "main": [[{ "node": "Collect All Image URLs", "type": "main", "index": 0 }]] },
      "Collect All Image URLs": { "main": [[{ "node": "Upload Mockups to R2", "type": "main", "index": 0 }]] },
      "Upload Mockups to R2": { "main": [[{ "node": "Save Mockup URLs to DB", "type": "main", "index": 0 }]] },
      "Save Mockup URLs to DB": { "main": [[{ "node": "Email Admin: Mockups Ready", "type": "main", "index": 0 }]] }
    }
  },
  {
    "name": "AI-9 — Generate Video Content (ElevenLabs + Runway ML)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "generate-video", "options": { "rawBody": true } },
        "name": "Webhook: Generate Video",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "generate-video"
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Generate Video'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Generate Video'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Generate Video'].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [420, 300]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }] },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 400, \"system\": \"You are the content and customer service AI for PrintHub Africa, a professional large-format and 3D printing company based in Nairobi, Kenya. Your tone is warm, professional, and expert. You understand the Kenyan market. Prices are always in KES. You never promise specific delivery times unless given them explicitly. You never invent product specs. When writing for customers, be friendly and helpful. When writing social media content, be engaging and locally relevant. Always write in British English (used in Kenya). Never use American spellings.\", \"messages\": [{ \"role\": \"user\", \"content\": \"Write a {{ $json.targetPlatform === 'tiktok' ? '15' : '30' }}-second spoken video script for {{ $json.productName }} on {{ $json.targetPlatform }}. Return JSON: { 'script': 'spoken words only', 'hook': 'first 3 words', 'cta': 'final call to action' }\" }] }"
        },
        "name": "Claude: Write Video Script",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [640, 200]
      },
      {
        "parameters": { "jsCode": "const raw = $node['Claude: Write Video Script'].json.content?.[0]?.text || '{}';\nlet parsed;\ntry { parsed = JSON.parse(raw.match(/\\{[\\s\\S]*\\}/)?.[0] || raw); } catch { parsed = { script: raw, hook: '', cta: '' }; }\nreturn [{ ...$node['Verify Signature'].json, script: parsed.script, hook: parsed.hook, cta: parsed.cta }];" },
        "name": "Extract Script",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [860, 200]
      },
      {
        "parameters": {
          "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{$env.ELEVENLABS_VOICE_ID}}",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "xi-api-key", "value": "={{ $env.ELEVENLABS_API_KEY }}" }] },
          "bodyParametersJson": "={ \"text\": \"{{ $json.script }}\", \"model_id\": \"eleven_multilingual_v2\", \"voice_settings\": { \"stability\": 0.5, \"similarity_boost\": 0.75, \"style\": 0.3, \"use_speaker_boost\": true } }",
          "options": { "response": { "response": { "responseFormat": "file" } } }
        },
        "name": "ElevenLabs: Generate Voiceover",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1080, 200]
      },
      {
        "parameters": {
          "url": "https://api.dev.runwayml.com/v1/image_to_video",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RUNWAY_API_KEY}}" }] },
          "bodyParametersJson": "={ \"model\": \"gen3a_turbo\", \"promptImage\": \"{{ $json.mockupImageUrl }}\", \"promptText\": \"Slow cinematic zoom in on the product. Professional product reveal. Smooth camera movement. {{ $json.productName }} in lifestyle setting.\", \"duration\": 5, \"ratio\": \"{{ $json.targetPlatform === 'tiktok' || $json.targetPlatform === 'instagram_reels' ? '768:1280' : '1280:768' }}\", \"watermark\": false }"
        },
        "name": "Runway: Generate Video",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1080, 400]
      },
      {
        "parameters": {
          "conditions": { "string": [{ "value1": "={{ $json.status }}", "value2": "SUCCEEDED" }] }
        },
        "name": "Video Ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [1520, 400]
      },
      {
        "parameters": {
          "url": "=https://api.dev.runwayml.com/v1/tasks/{{$node['Runway: Generate Video'].json.id}}",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RUNWAY_API_KEY}}" }] }
        },
        "name": "Poll Runway Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1300, 400]
      },
      {
        "parameters": { "amount": 10, "unit": "seconds" },
        "name": "Wait 10s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [1180, 500]
      },
      {
        "parameters": {
          "url": "=https://{{ $env.FFMPEG_SERVICE_URL || 'printhub-ffmpeg.railway.app' }}/combine",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-combine-secret", "value": "={{ $env.COMBINE_SECRET }}" }] },
          "bodyParametersJson": "={ \"videoUrl\": \"{{ $node['Poll Runway Status'].json.output[0] }}\", \"audioUrl\": \"{{ $node['ElevenLabs: Generate Voiceover'].json.audioUrl || '' }}\", \"outputKey\": \"product-videos/{{ $json.productId }}/{{ $json.targetPlatform }}-{{ Date.now() }}.mp4\" }"
        },
        "name": "Combine Video + Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1740, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-video-content",
          "method": "PATCH",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"productId\": \"{{ $json.productId }}\", \"platform\": \"{{ $json.targetPlatform }}\", \"videoUrl\": \"{{ $node['Combine Video + Audio'].json.outputUrl }}\", \"thumbnailUrl\": \"{{ $json.mockupImageUrl }}\", \"duration\": 5 }"
        },
        "name": "Save Video to DB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1960, 300]
      }
    ],
    "connections": {
      "Webhook: Generate Video": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] },
      "Verify Signature": { "main": [[{ "node": "Claude: Write Video Script", "type": "main", "index": 0 }, { "node": "Runway: Generate Video", "type": "main", "index": 0 }]] },
      "Claude: Write Video Script": { "main": [[{ "node": "Extract Script", "type": "main", "index": 0 }]] },
      "Extract Script": { "main": [[{ "node": "ElevenLabs: Generate Voiceover", "type": "main", "index": 0 }]] },
      "Runway: Generate Video": { "main": [[{ "node": "Wait 10s", "type": "main", "index": 0 }]] },
      "Wait 10s": { "main": [[{ "node": "Poll Runway Status", "type": "main", "index": 0 }]] },
      "Poll Runway Status": { "main": [[{ "node": "Video Ready?", "type": "main", "index": 0 }]] },
      "Video Ready?": {
        "main": [
          [{ "node": "Combine Video + Audio", "type": "main", "index": 0 }],
          [{ "node": "Wait 10s", "type": "main", "index": 0 }]
        ]
      },
      "Combine Video + Audio": { "main": [[{ "node": "Save Video to DB", "type": "main", "index": 0 }]] }
    }
  },
  {
    "name": "AI-10 — Telegram Customer Chat Bot",
    "nodes": [
      {
        "parameters": { "updates": ["message"] },
        "name": "Telegram: Receive Message",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1,
        "position": [200, 300],
        "credentials": { "telegramApi": { "id": "telegram-cred", "name": "Telegram" } }
      },
      {
        "parameters": { "conditions": { "string": [{ "value1": "={{ $json.message?.voice?.file_id }}", "operation": "isNotEmpty" }] } },
        "name": "Is Voice Note?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [420, 300]
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/getFile?file_id={{$json.message.voice.file_id}}",
          "method": "GET"
        },
        "name": "Get Voice File URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [640, 100]
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/file/bot{{$env.TELEGRAM_BOT_TOKEN}}/{{$node['Get Voice File URL'].json.result.file_path}}",
          "method": "GET",
          "options": { "response": { "response": { "responseFormat": "file" } } }
        },
        "name": "Download Voice File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 100]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/audio/transcriptions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" }] },
          "bodyParametersJson": "={ \"model\": \"whisper-1\", \"language\": \"en\", \"prompt\": \"PrintHub Africa customer service. Kenyan English. Printing services, 3D printing, banners, signage.\" }",
          "sendBinaryData": true,
          "binaryPropertyName": "data"
        },
        "name": "Whisper: Transcribe",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1080, 100]
      },
      {
        "parameters": { "jsCode": "const isVoice = $node['Is Voice Note?'].json.message?.voice?.file_id !== undefined;\nconst text = isVoice ? $node['Whisper: Transcribe'].json.text : $node['Is Voice Note?'].json.message?.text;\nconst chatId = ($node['Is Voice Note?'].json.message?.chat?.id || '').toString();\nconst customerName = $node['Is Voice Note?'].json.message?.from?.first_name || 'Customer';\nreturn [{ messageText: text, chatId, customerName, wasVoiceNote: isVoice }];" },
        "name": "Normalise Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [1300, 300]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }] },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 400, \"system\": \"You are the content and customer service AI for PrintHub Africa, a professional large-format and 3D printing company based in Nairobi, Kenya. Your tone is warm, professional, and expert. You understand the Kenyan market. Prices are always in KES. You never promise specific delivery times unless given them explicitly. You never invent product specs. When writing for customers, be friendly and helpful. When writing social media content, be engaging and locally relevant. Always write in British English (used in Kenya). Never use American spellings. Note: this customer sent a voice note that was transcribed. Acknowledge naturally if relevant.\", \"messages\": [{ \"role\": \"user\", \"content\": \"Customer ({{ $json.customerName }}): {{ $json.messageText }}\" }] }"
        },
        "name": "Claude: Generate Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1520, 300]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "={{ $node['Claude: Generate Reply'].json.content?.[0]?.text || 'Thank you for your message! We will get back to you shortly.' }}",
          "additionalFields": { "parse_mode": "Markdown" }
        },
        "name": "Telegram: Send Reply",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [1740, 300],
        "credentials": { "telegramApi": { "id": "telegram-cred", "name": "Telegram" } }
      },
      {
        "parameters": { "conditions": { "string": [{ "value1": "={{ $node['Claude: Generate Reply'].json.content?.[0]?.text }}", "operation": "contains", "value2": "escalat" }] } },
        "name": "Needs Human?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [1960, 300]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] },
          "bodyParametersJson": "={ \"from\": \"PrintHub Telegram <bot@printhub.africa>\", \"to\": \"{{$env.ADMIN_EMAIL}}\", \"subject\": \"Telegram Customer Needs Human Support\", \"html\": \"<p>Customer {{ $node['Normalise Message'].json.customerName }} on Telegram needs human support.</p><p>Message: {{ $node['Normalise Message'].json.messageText }}</p>\" }"
        },
        "name": "Alert Admin: Human Needed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [2180, 200]
      }
    ],
    "connections": {
      "Telegram: Receive Message": { "main": [[{ "node": "Is Voice Note?", "type": "main", "index": 0 }]] },
      "Is Voice Note?": {
        "main": [
          [{ "node": "Get Voice File URL", "type": "main", "index": 0 }],
          [{ "node": "Normalise Message", "type": "main", "index": 0 }]
        ]
      },
      "Get Voice File URL": { "main": [[{ "node": "Download Voice File", "type": "main", "index": 0 }]] },
      "Download Voice File": { "main": [[{ "node": "Whisper: Transcribe", "type": "main", "index": 0 }]] },
      "Whisper: Transcribe": { "main": [[{ "node": "Normalise Message", "type": "main", "index": 0 }]] },
      "Normalise Message": { "main": [[{ "node": "Claude: Generate Reply", "type": "main", "index": 0 }]] },
      "Claude: Generate Reply": { "main": [[{ "node": "Telegram: Send Reply", "type": "main", "index": 0 }]] },
      "Telegram: Send Reply": { "main": [[{ "node": "Needs Human?", "type": "main", "index": 0 }]] },
      "Needs Human?": { "main": [[{ "node": "Alert Admin: Human Needed", "type": "main", "index": 0 }]] }
    }
  }
]
