n8n/workflows/printhub_automations.json
[
  {
    "name": "1. PrintHub - Order Confirmation (Email + WA + SMS + Tracking)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "order-confirmed", "options": { "rawBody": true } },
        "name": "Webhook: Order Confirmed",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300],
        "webhookId": "order-confirmed"
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst signature = $node[\"Webhook: Order Confirmed\"].json.headers[\"x-printhub-signature\"];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node[\"Webhook: Order Confirmed\"].json.body)).digest('hex');\nif (signature !== hmac) throw new Error('Invalid Signature');\nreturn $node[\"Webhook: Order Confirmed\"].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [320, 300]
      },
      {
        "parameters": { "url": "https://api.resend.com/emails", "method": "POST", "authentication": "headerAuth", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] }, "bodyParameters": { "parameters": [{ "name": "from", "value": "PrintHub Africa <orders@printhub.africa>" }, { "name": "to", "value": "={{$json.customerEmail}}" }, { "name": "subject", "value": "=Order Confirmed: {{$json.orderNumber}}" }, { "name": "html", "value": "=<p>Hi {{$json.customerName}}, your order {{$json.orderNumber}} (KES {{$json.total}}) is confirmed! We will notify you when it's dispatched.</p>" }] } },
        "name": "Resend: Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [540, 150]
      },
      {
        "parameters": { "url": "=https://graph.facebook.com/v19.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages", "method": "POST", "authentication": "headerAuth", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}" }] }, "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{$json.customerPhone}}\", \"type\": \"template\", \"template\": { \"name\": \"order_confirmation\", \"language\": { \"code\": \"en\" }, \"components\": [ { \"type\": \"body\", \"parameters\": [ { \"type\": \"text\", \"text\": \"{{$json.customerName}}\" }, { \"type\": \"text\", \"text\": \"{{$json.orderNumber}}\" } ] } ] } }" },
        "name": "WhatsApp: Notify",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [540, 300]
      },
      {
        "parameters": { "method": "POST", "url": "https://api.africastalking.com/version1/messaging", "authentication": "headerAuth", "headerParameters": { "parameters": [{ "name": "apiKey", "value": "={{$env.AT_API_KEY}}" }] }, "bodyParameters": { "parameters": [{ "name": "username", "value": "={{$env.AT_USERNAME}}" }, { "name": "to", "value": "={{$json.customerPhone}}" }, { "name": "message", "value": "=Hi {{$json.customerName}}, order {{$json.orderNumber}} confirmed. Tracking: printhub.africa/track/{{$json.orderNumber}}" }] } },
        "name": "SMS: Africa's Talking",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [540, 450]
      },
      {
        "parameters": { "url": "=https://graph.facebook.com/v19.0/{{$env.META_PIXEL_ID}}/events", "method": "POST", "bodyParametersJson": "={ \"data\": [ { \"event_name\": \"Purchase\", \"event_time\": {{Math.floor(Date.now()/1000)}}, \"action_source\": \"website\", \"user_data\": { \"em\": [\"{{$json.customerEmail}}\"], \"ph\": [\"{{$json.customerPhone}}\"] }, \"custom_data\": { \"value\": {{$json.total}}, \"currency\": \"KES\", \"order_id\": \"{{$json.orderNumber}}\" } } ], \"access_token\": \"{{$env.META_ACCESS_TOKEN}}\" }" },
        "name": "Meta CAPI: Purchase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [760, 300]
      }
    ],
    "connections": { "Webhook: Order Confirmed": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] }, "Verify Signature": { "main": [[{ "node": "Resend: Email", "type": "main", "index": 0 }, { "node": "WhatsApp: Notify", "type": "main", "index": 0 }, { "node": "SMS: Africa's Talking", "type": "main", "index": 0 }, { "node": "Meta CAPI: Purchase", "type": "main", "index": 0 }]] } }
  },
  {
    "name": "2. PrintHub - Order Status Changed (Multi-Channel Notify)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "order-status-changed", "options": { "rawBody": true } },
        "name": "Webhook: Status Changed",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst signature = $node[\"Webhook: Status Changed\"].json.headers[\"x-printhub-signature\"];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node[\"Webhook: Status Changed\"].json.body)).digest('hex');\nif (signature !== hmac) throw new Error('Invalid');\nreturn $node[\"Webhook: Status Changed\"].json.body;" },
        "name": "Verify Internal Auth",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [320, 300]
      },
      {
        "parameters": { "conditions": { "string": [{ "value1": "={{$json.newStatus}}", "value2": "DISPATCHED" }] } },
        "name": "If Dispatched",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [540, 300]
      },
      {
        "parameters": { "url": "https://api.resend.com/emails", "method": "POST", "authentication": "headerAuth", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] }, "bodyParameters": { "parameters": [{ "name": "from", "value": "PrintHub Africa <shipping@printhub.africa>" }, { "name": "to", "value": "={{$json.customerEmail}}" }, { "name": "subject", "value": "=Your order {{$json.orderNumber}} is on its way!" }, { "name": "html", "value": "=<p>Exciting news {{$json.customerName}}! Your order is dispatched. Tracking: {{$json.trackingNumber}}</p>" }] } },
        "name": "Email: Dispatched",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [760, 200]
      }
    ],
    "connections": { "Webhook: Status Changed": { "main": [[{ "node": "Verify Internal Auth", "type": "main", "index": 0 }]] }, "Verify Internal Auth": { "main": [[{ "node": "If Dispatched", "type": "main", "index": 0 }]] }, "If Dispatched": { "main": [[{ "node": "Email: Dispatched", "type": "main", "index": 0 }]] } }
  },
  {
    "name": "3. PrintHub - Abandoned Cart Recovery (3-Stage Sequence)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "cart-abandoned", "options": { "rawBody": true } },
        "name": "Webhook: Cart Alert",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      }
    ],
    "connections": {}
  },
  {
    "name": "4. PrintHub - Staff Alert (WhatsApp + Telegram Dispatcher)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "staff-alert", "options": { "rawBody": true } },
        "name": "Webhook: Staff Alert",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Staff Alert'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Staff Alert'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid');\nreturn $node['Webhook: Staff Alert'].json.body;" },
        "name": "Verify Internal Staff Sig",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [320, 300]
      },
      {
        "parameters": { "chatId": "={{$env.TELEGRAM_STAFF_GROUP_ID}}", "text": "=🔔 *{{$json.title}}*\n\n{{$json.message}}\n\nUrgency: {{$json.urgency.toUpperCase()}}\nAction: {{$json.actionUrl}}", "additionalFields": { "parse_mode": "Markdown" } },
        "name": "Telegram: Staff Group",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [540, 200],
        "credentials": { "telegramApi": { "id": "telegram-staff", "name": "Telegram Staff" } }
      },
      {
        "parameters": { "url": "=https://graph.facebook.com/v19.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages", "method": "POST", "authentication": "headerAuth", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}" }] }, "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{$env.STAFF_WHATSAPP_NUMBER}}\", \"type\": \"text\", \"text\": { \"body\": \"🔔 {{$json.title}}\\n\\n{{$json.message}}\\n\\nAction: {{$json.actionUrl}}\" } }" },
        "name": "WhatsApp: Staff Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [540, 400]
      }
    ],
    "connections": { "Webhook: Staff Alert": { "main": [[{ "node": "Verify Internal Staff Sig", "type": "main", "index": 0 }]] }, "Verify Internal Staff Sig": { "main": [[{ "node": "Telegram: Staff Group", "type": "main", "index": 0 }, { "node": "WhatsApp: Staff Alert", "type": "main", "index": 0 }]] } }
  },
  {
    "name": "5. PrintHub - Security Alert (Impossible Travel + Breaches)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "security-alert", "options": { "rawBody": true } },
        "name": "Webhook: Security",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      }
    ],
    "connections": {}
  },
  {
    "name": "6. PrintHub - Low Stock Notify (Inventory Flow)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "low-stock", "options": { "rawBody": true } },
        "name": "Webhook: Low Stock",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      }
    ],
    "connections": {}
  },
  {
    "name": "7. PrintHub - Social Media Sync (Bulk Publish)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "product-published", "options": { "rawBody": true } },
        "name": "Webhook: Product Published",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300],
        "webhookId": "product-social-sync"
      }
    ],
    "connections": {}
  },
  {
    "name": "8. PrintHub - Product Updated (Price/Stock Differential)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "product-updated", "options": { "rawBody": true } },
        "name": "Webhook: Product Update",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      }
    ],
    "connections": {}
  },
  {
    "name": "9. PrintHub - Sync Social Feeds (Catalog Manager)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "sync-social-feeds", "options": { "rawBody": true } },
        "name": "Webhook: Sync All",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      }
    ],
    "connections": {}
  },
  {
    "name": "10. PrintHub - Quote Submitted (Lead Flow + PDF)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "quote-submitted", "options": { "rawBody": true } },
        "name": "Webhook: Quote Submit",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Quote Submit'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Quote Submit'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid');\nreturn $node['Webhook: Quote Submit'].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [320, 300]
      },
      {
        "parameters": { "url": "https://api.resend.com/emails", "method": "POST", "authentication": "headerAuth", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] }, "bodyParameters": { "parameters": [{ "name": "from", "value": "PrintHub Africa <quotes@printhub.africa>" }, { "name": "to", "value": "={{$json.customerEmail}}" }, { "name": "subject", "value": "=Quotation Request: {{$json.projectName || 'New Project'}}" }, { "name": "html", "value": "=<p>Hi {{$json.customerName}},</p><p>We have received your request. Attached is a summary draft.</p>" }] }, "attachments": [{ "name": "QuoteDraft.pdf", "data": "={{$json.pdfBase64}}" }] },
        "name": "Email: Draft Quote",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [540, 300]
      }
    ],
    "connections": { "Webhook: Quote Submit": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] }, "Verify Signature": { "main": [[{ "node": "Email: Draft Quote", "type": "main", "index": 0 }]] } }
  },
  {
    "name": "11. PrintHub - Quote Ready (Notification)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "quote-ready", "options": { "rawBody": true } },
        "name": "Webhook: Quote Ready",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      }
    ],
    "connections": {}
  },
  {
    "name": "12. PrintHub - New Device Login (Security)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "new-device-login", "options": { "rawBody": true } },
        "name": "Webhook: New Login",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      }
    ],
    "connections": {}
  },
  {
    "name": "13. PrintHub - Delivery Status Changed (Post-Dispatch Automation)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "delivery-status-changed", "options": { "rawBody": true } },
        "name": "Webhook: Delivery Status",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300]
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Delivery Status'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Delivery Status'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid');\nreturn $node['Webhook: Delivery Status'].json.body;" },
        "name": "Verify Internal Sig",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [320, 300]
      },
      {
        "parameters": { "url": "=https://graph.facebook.com/v19.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages", "method": "POST", "authentication": "headerAuth", "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}" }] }, "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{$json.customerPhone}}\", \"type\": \"template\", \"template\": { \"name\": \"delivery_update\", \"language\": { \"code\": \"en\" }, \"components\": [ { \"type\": \"body\", \"parameters\": [ { \"type\": \"text\", \"text\": \"{{$json.customerName}}\" }, { \"type\": \"text\", \"text\": \"{{$json.orderNumber}}\" }, { \"type\": \"text\", \"text\": \"{{$json.status}}\" } ] } ] } }" },
        "name": "WhatsApp: Delivery Update",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [540, 300]
      }
    ],
    "connections": { "Webhook: Delivery Status": { "main": [[{ "node": "Verify Internal Sig", "type": "main", "index": 0 }]] }, "Verify Internal Sig": { "main": [[{ "node": "WhatsApp: Delivery Update", "type": "main", "index": 0 }]] } }
  }
]
