n8n/workflows/printhub_ai_workflows.json
[
  {
    "name": "AI-7 — Catalogue Import Enhancement",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "enhance-catalogue-import-legacy",
          "options": {
            "rawBody": true
          }
        },
        "id": "webhook-trigger",
        "name": "Webhook (POST /webhook/enhance-catalogue-import)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "functionCode": "const crypto = require('crypto');\nconst secret = process.env.N8N_WEBHOOK_SECRET;\nconst signature = $node[\"webhook-trigger\"].json.headers['x-printhub-signature'];\nconst body = $node[\"webhook-trigger\"].json.body;\n\nif (!secret || !signature) return { valid: false };\n\nconst expected = crypto.createHmac('sha256', secret).update(JSON.stringify(body)).digest('hex');\nreturn { valid: signature === expected };"
        },
        "id": "verify-signature",
        "name": "Verify Signature",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "functionCode": "const imageUrls = $node[\"webhook-trigger\"].json.body.imageUrls || [];\nconst originalName = $node[\"webhook-trigger\"].json.body.originalName;\nconst platform = $node[\"webhook-trigger\"].json.body.platform;\n\nconst content = [\n  {\n    \"type\": \"text\",\n    \"text\": `Analyse these 3D model images. \\nOriginal name from source: ${originalName} \\nPlatform: ${platform} \\n\\nDescribe: what it is, complexity level (simple/medium/complex/very complex), estimated print size category, visual appeal, likely use cases, any quality concerns visible.`\n  }\n];\n\nimageUrls.slice(0, 3).forEach(url => {\n  content.push({\n    \"type\": \"image_url\",\n    \"image_url\": { \"url\": url }\n  });\n});\n\nreturn {\n  model: \"gpt-4o\",\n  messages: [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are analysing 3D printable model images for PrintHub Africa, a Nairobi-based 3D printing service. Analyse what the model is, its complexity, likely print time category, and visual appeal. Be specific and technical.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": content\n    }\n  ],\n  \"max_tokens\": 400\n};"
        },
        "id": "prepare-vision-payload",
        "name": "Prepare GPT-4o Vision Payload",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          650,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "headerAuth",
          "bodyParametersUi": [
            {
              "name": "model",
              "value": "={{$json[\"model\"]}}"
            },
            {
              "name": "messages",
              "value": "={{$json[\"messages\"]}}"
            },
            {
              "name": "max_tokens",
              "value": "={{$json[\"max_tokens\"]}}"
            }
          ]
        },
        "id": "gpt-4o-vision",
        "name": "HTTP Request — GPT-4o Vision: Analyse model images",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          850,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "headerAuth",
          "headerParametersUi": [
            {
              "name": "x-api-key",
              "value": "={{$env[\"ANTHROPIC_API_KEY\"]}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ],
          "jsonParameters": true,
          "bodyParametersJson": "={\n  \"model\": \"claude-3-opus-20240229\",\n  \"max_tokens\": 2000,\n  \"system\": \"You are creating product listings for PrintHub Africa, a professional 3D printing service in Nairobi, Kenya. You are converting imported 3D model data into professional product listings for customers who want the model printed for them — they are BUYING a printed physical object, not downloading a file. Frame all descriptions from this perspective. British English. KES pricing context. Never mention STL files or downloading to customers.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a complete PrintHub Africa product listing from this imported 3D model data.\\n\\nSource platform: {{$node[\\\"webhook-trigger\\\"].json.body.platform}}\\nOriginal name: {{$node[\\\"webhook-trigger\\\"].json.body.originalName}}\\nOriginal description: {{$node[\\\"webhook-trigger\\\"].json.body.originalDescription}}\\nOriginal tags: {{$node[\\\"webhook-trigger\\\"].json.body.originalTags.join(', ')}}\\nOriginal category: {{$node[\\\"webhook-trigger\\\"].json.body.originalCategory}}\\nDesigner: {{$node[\\\"webhook-trigger\\\"].json.body.designerName}}\\nLicense: {{$node[\\\"webhook-trigger\\\"].json.body.licenseType}}\\nPopularity: {{$node[\\\"webhook-trigger\\\"].json.body.downloadCount}} downloads, {{$node[\\\"webhook-trigger\\\"].json.body.likeCount}} likes\\n\\nVisual analysis from AI: {{$node[\\\"HTTP Request — GPT-4o Vision: Analyse model images\\\"].json.choices[0].message.content}}\\n\\nGenerate a complete product listing. Return ONLY valid JSON: { ... as specified in prompt ... }\"\n    }\n  ]\n}"
        },
        "id": "claude-generation",
        "name": "HTTP Request — Claude: Generate PrintHub Product Content",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          1050,
          400
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://printhub.africa/api/n8n/save-catalogue-enhancement",
          "jsonParameters": true,
          "headerParametersUi": [
            {
              "name": "x-printhub-signature",
              "value": "={{$env[\"N8N_WEBHOOK_SECRET\"]}}"
            }
          ],
          "bodyParametersJson": "={\n  \"importId\": \"{{$node[\\\"webhook-trigger\\\"].json.body.importId}}\",\n  \"aiEnhancement\": {{JSON.stringify($node[\"claude-generation\"].json)}} \n}"
        },
        "id": "save-enhancement",
        "name": "HTTP Request — Save AI enhancement to PrintHub",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          1250,
          400
        ]
      },
      {
        "name": "GPT-4o: Generate Social Captions",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          1450,
          400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "Authorization", "value": "Bearer {{$env.OPENAI_API_KEY}}" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "body",
                "value": "={{ JSON.stringify({ model: 'gpt-4o', max_tokens: 1000, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'You are a social media copywriter for PrintHub Africa, a Nairobi printing company. British English. KES pricing.' }, { role: 'user', content: 'Generate social media captions for this 3D printed product.\\nProduct name: ' + $node[\"HTTP Request — Claude: Generate PrintHub Product Content\"].json.content[0].text.includes('product_name') ? JSON.parse($node[\"HTTP Request — Claude: Generate PrintHub Product Content\"].json.content[0].text).product_name : $json.originalName + '\\nDescription: ' + $json.originalDescription + '\\n\\nReturn ONLY valid JSON: { instagram: \"caption max 150 words 5-10 hashtags\", facebook: \"caption max 100 words\", tiktok: \"caption max 80 words energetic\", linkedin: \"caption max 120 words B2B\", x: \"max 280 chars\", pinterest: \"descriptive keyword-rich\", snapchat: \"max 50 words punchy\", youtube_community: \"max 200 words\", google_business: \"max 300 words\" }' }] }) }}"
              }
            ]
          }
        }
      },
      {
        "name": "Notify Staff: AI Enhancement Ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          1650,
          400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://printhub.africa/webhook/staff-alert",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "x-printhub-signature", "value": "={{$env.N8N_WEBHOOK_SECRET}}" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "body",
                "value": "={{ JSON.stringify({ type: 'SUPPORT_TICKET', title: 'AI Enhanced: ' + $json.importId + ' ready for review', message: 'AI has generated product listing. Review and approve in admin catalogue.', urgency: 'low', actionUrl: 'https://admin.printhub.africa/catalogue/review/' + $json.importId, targetRoles: ['ADMIN', 'SUPER_ADMIN'] }) }}"
              }
            ]
          }
        }
      },
      {
        "name": "AuditLog: Catalogue Enhancement Complete",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          1850,
          400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://printhub.africa/api/n8n/log",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "x-printhub-signature", "value": "={{$env.N8N_WEBHOOK_SECRET}}" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "body",
                "value": "={{ JSON.stringify({ workflowName: 'AI-7 Catalogue Enhancement', action: 'AI_CATALOGUE_ENHANCEMENT_COMPLETED', details: { importId: $json.importId, platform: $json.platform } }) }}"
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "webhook-trigger": {
        "main": [
          [
            {
              "node": "verify-signature",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "verify-signature": {
        "main": [
          [
            {
              "node": "prepare-vision-payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare-vision-payload": {
        "main": [
          [
            {
              "node": "gpt-4o-vision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gpt-4o-vision": {
        "main": [
          [
            {
              "node": "claude-generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "claude-generation": {
        "main": [
          [
            {
              "node": "save-enhancement",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save-enhancement": {
        "main": [
          [
            {
              "node": "GPT-4o: Generate Social Captions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4o: Generate Social Captions": {
        "main": [
          [
            {
              "node": "Notify Staff: AI Enhancement Ready",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Staff: AI Enhancement Ready": {
        "main": [
          [
            {
              "node": "AuditLog: Catalogue Enhancement Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-1 — Auto-Generate Social Media Posts (GPT-4o)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-social-posts-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Webhook: Product Published",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "webhookId": "generate-social-posts-legacy"
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Product Published'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Product Published'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Product Published'].json.body;"
        },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          420,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-product-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "qs": [
            {
              "name": "productId",
              "value": "={{ $json.productId }}"
            }
          ]
        },
        "name": "Get Product Context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          640,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"gpt-4o\", \"messages\": [{ \"role\": \"system\", \"content\": \"You are a social media and advertising copywriter for PrintHub Africa. Your style is punchy, engaging, and high-energy. You use emojis effectively. You understand Nairobi's trends and slang (Sheng) where appropriate for Gen Z audiences, but remain professional for LinkedIn. You always include targeted hashtags. British English only. No Americanisms.\" }, { \"role\": \"user\", \"content\": \"Create short, punchy social media posts for this product: {{ $json.name }}. Description: {{ $json.description }}. Category: {{ $json.category }}. Write unique versions for: 1. Instagram (visual, emoji-heavy), 2. TikTok (hook-driven, trendy), 3. LinkedIn (professional, B2B value). Return valid JSON: { 'instagram': '...', 'tiktok': '...', 'linkedin': '...' }\" }] }"
        },
        "name": "GPT-4o: Generate Social Posts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-ai-content",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"productId\": \"{{ $node['Get Product Context'].json.id }}\", \"socialPosts\": {{ $json.choices[0].message.content }} }"
        },
        "name": "Save Social Posts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1080,
          300
        ]
      }
    ],
    "connections": {
      "Webhook: Product Published": {
        "main": [
          [
            {
              "node": "Verify Signature",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Signature": {
        "main": [
          [
            {
              "node": "Get Product Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Product Context": {
        "main": [
          [
            {
              "node": "GPT-4o: Generate Social Posts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4o: Generate Social Posts": {
        "main": [
          [
            {
              "node": "Save Social Posts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-2 — WhatsApp Auto-Reply (Claude)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp-inbound-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Webhook: WhatsApp Incoming",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          100,
          300
        ],
        "webhookId": "whatsapp-inbound-legacy"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.type }}",
                "value2": "audio"
              }
            ]
          }
        },
        "name": "Is Voice Note?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          320,
          300
        ]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v19.0/{{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
              }
            ]
          }
        },
        "name": "Get Audio URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          540,
          150
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "name": "Download Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          760,
          150
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/audio/transcriptions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"whisper-1\", \"language\": \"en\", \"prompt\": \"PrintHub Africa customer service. Kenyan English. Printing services, 3D printing, banners, signage.\" }",
          "sendBinaryData": true,
          "binaryPropertyName": "data"
        },
        "name": "Whisper Transcription",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          980,
          150
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-customer-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "qs": [
            {
              "name": "phone",
              "value": "={{ $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].from }}"
            }
          ]
        },
        "name": "Get Customer Context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1200,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.ANTHROPIC_API_KEY }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 400, \"system\": \"You are the content and customer service AI for PrintHub Africa... Note: if the customer sent a voice note, it was transcribed. Acknowledge this naturally if relevant. Context: {{ JSON.stringify($node['Get Customer Context'].json) }}\", \"messages\": [{ \"role\": \"user\", \"content\": \"Customer Message: {{ $node['Whisper Transcription'].json.text || $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].text.body }}. Write a helpful reply.\" }] }"
        },
        "name": "Claude: Generate Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1420,
          300
        ]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v19.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].from }}\", \"type\": \"text\", \"text\": { \"body\": \"{{ $json.content[0].text.replace('[ESCALATE]', '') }}\" } }"
        },
        "name": "WhatsApp: Send Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1640,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/log-ai-usage",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"service\": \"Anthropic\", \"operation\": \"customer-reply\", \"model\": \"claude-opus-4-6\", \"inputTokens\": 500, \"outputTokens\": {{ $node['Claude: Generate Reply'].json.usage.output_tokens }}, \"costUsd\": {{ ($node['Claude: Generate Reply'].json.usage.input_tokens * 0.000015) + ($node['Claude: Generate Reply'].json.usage.output_tokens * 0.000075) }}, \"success\": true }"
        },
        "name": "Log AI Usage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1860,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://printhub.africa/api/n8n/log-error",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "x-printhub-signature", "value": "={{$env.N8N_WEBHOOK_SECRET}}" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              { "name": "body", "value": "={{ JSON.stringify({ workflowName: 'AI-2 WhatsApp Auto-Reply', errorMessage: $json.message || 'Unknown error', node: $json.node || 'Unknown node', executionId: $execution.id }) }}" }
            ]
          }
        },
        "name": "Error Handler",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1860,
          500
        ]
      }
    ],
    "connections": {
      "Webhook: WhatsApp Incoming": {
        "main": [
          [
            {
              "node": "Is Voice Note?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Voice Note?": {
        "main": [
          [
            {
              "node": "Get Audio URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Customer Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Audio URL": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Whisper Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Whisper Transcription": {
        "main": [
          [
            {
              "node": "Get Customer Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Customer Context": {
        "main": [
          [
            {
              "node": "Claude: Generate Reply",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Generate Reply": {
        "main": [
          [
            {
              "node": "WhatsApp: Send Reply",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WhatsApp: Send Reply": {
        "main": [
          [
            {
              "node": "Log AI Usage",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-3 — Generate Ad Copy Variations (GPT-4o)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-ad-copy-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Webhook: Generate Ad Copy",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "webhookId": "generate-ad-copy-legacy"
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-product-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "qs": [
            {
              "name": "productId",
              "value": "={{ $json.productId }}"
            }
          ]
        },
        "name": "Get Product Details",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          420,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"gpt-4o\", \"messages\": [{ \"role\": \"system\", \"content\": \"You are a social media and advertising copywriter for PrintHub Africa...\" }, { \"role\": \"user\", \"content\": \"Generate 3 ad copy variations for {{ $json.name }}. Target: Meta Ads and Google Search. Return JSON array of objects: [{ 'platform': 'meta', 'headline': '...', 'body': '...', 'cta': '...' }]\" }] }"
        },
        "name": "GPT-4o: Generate Ad Copy",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          640,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-ai-content",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"productId\": \"{{ $node['Get Product Details'].json.id }}\", \"adCopyVariations\": {{ $json.choices[0].message.content }} }"
        },
        "name": "Save Ad Variations",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          300
        ]
      }
    ],
    "connections": {
      "Webhook: Generate Ad Copy": {
        "main": [
          [
            {
              "node": "Get Product Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Product Details": {
        "main": [
          [
            {
              "node": "GPT-4o: Generate Ad Copy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4o: Generate Ad Copy": {
        "main": [
          [
            {
              "node": "Save Ad Variations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-4 — Auto-Generate Product Descriptions (Claude)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-product-description-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Webhook: Generate Descriptions",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "webhookId": "ai-generate-descriptions"
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-product-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "qs": [
            {
              "name": "productId",
              "value": "={{ $json.productId }}"
            }
          ]
        },
        "name": "Get Context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          420,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.ANTHROPIC_API_KEY }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 1000, \"system\": \"You are the content and customer service AI for PrintHub Africa...\", \"messages\": [{ \"role\": \"user\", \"content\": \"Write a compelling, SEO-optimised product description for {{ $json.name }}. Include: 1. Main description (200 words), 2. Short description (50 words), 3. 5 Key Features as a list, 4. SEO meta title, 5. SEO meta description. Return valid JSON.\" }] }"
        },
        "name": "Claude: Write Descriptions",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          640,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-ai-content",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"productId\": \"{{ $node['Get Context'].json.id }}\", \"descriptions\": {{ $json.content[0].text }} }"
        },
        "name": "Save Descriptions",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          300
        ]
      }
    ],
    "connections": {
      "Webhook: Generate Descriptions": {
        "main": [
          [
            {
              "node": "Get Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Context": {
        "main": [
          [
            {
              "node": "Claude: Write Descriptions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Write Descriptions": {
        "main": [
          [
            {
              "node": "Save Descriptions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-5 — AI-Assisted Quote Responses (Claude)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ai-generate-quotedraft-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Webhook: Generate Quote Draft",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "webhookId": "ai-generate-quotedraft-legacy"
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-quote-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "qs": [
            {
              "name": "quoteId",
              "value": "={{ $json.quoteId }}"
            }
          ]
        },
        "name": "Get Quote Details",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          420,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.ANTHROPIC_API_KEY }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 1000, \"system\": \"You are the expert estimator for PrintHub Africa...\", \"messages\": [{ \"role\": \"user\", \"content\": \"Customer {{ $json.customerName }} wants a quote for: {{ $json.projectName }}. Details: {{ $json.description }}. Write a professional draft response with a suggested price (if possible based on context) and breakdown. Include warm Kenyan business greeting. Return valid JSON: { 'draft': '...', 'suggestedPrice': 0, 'breakdown': '...' }\" }] }"
        },
        "name": "Claude: Generate Draft",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          640,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-quote-draft",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"quoteId\": \"{{ $node['Get Quote Details'].json.id }}\", \"draft\": \"{{ $json.content[0].text.draft }}\", \"amount\": {{ $json.content[0].text.suggestedPrice || 0 }}, \"breakdown\": \"{{ $json.content[0].text.breakdown }}\" }"
        },
        "name": "Save Quote Draft",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          300
        ]
      }
    ],
    "connections": {
      "Webhook: Generate Quote Draft": {
        "main": [
          [
            {
              "node": "Get Quote Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Quote Details": {
        "main": [
          [
            {
              "node": "Claude: Generate Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Generate Draft": {
        "main": [
          [
            {
              "node": "Save Quote Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-6 — Sentiment Analysis (GPT-4o)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "sentiment-analysis-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Webhook: Analyse Sentiment",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "webhookId": "sentiment-analysis-legacy"
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"gpt-4o-mini\", \"messages\": [{ \"role\": \"system\", \"content\": \"Analyse the sentiment of this customer message for PrintHub Africa. Is it Positive, Neutral, or Negative? Give a score from 1-10 where 10 is very happy and 1 is furious.\" }, { \"role\": \"user\", \"content\": \"Message: {{ $json.message }}\" }] }"
        },
        "name": "GPT-4o: Analyse Sentiment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          420,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-sentiment",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"email\": \"{{ $node['Webhook: Analyse Sentiment'].json.email }}\", \"phone\": \"{{ $node['Webhook: Analyse Sentiment'].json.phone }}\", \"sentiment\": \"{{ $json.choices[0].message.content.match(/(Positive|Neutral|Negative)/)[0] }}\", \"score\": {{ parseInt($json.choices[0].message.content.match(/\\d+/)[0]) }}, \"message\": \"{{ $node['Webhook: Analyse Sentiment'].json.message }}\" }"
        },
        "name": "Save Sentiment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          640,
          300
        ]
      }
    ],
    "connections": {
      "Webhook: Analyse Sentiment": {
        "main": [
          [
            {
              "node": "GPT-4o: Analyse Sentiment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4o: Analyse Sentiment": {
        "main": [
          [
            {
              "node": "Save Sentiment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },

  {
    "name": "AI-8 — Generate Lifestyle Mockups (DALL-E 3 + Stability AI)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-mockups-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Webhook or Execute Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "webhookId": "generate-mockups-legacy"
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook or Execute Trigger'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook or Execute Trigger'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook or Execute Trigger'].json.body;"
        },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          420,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const { productId, productName, category, platform } = $json;\nconst cat = category || 'product';\nconst instagramPrompt = `Professional lifestyle photograph of ${productName} in a modern Nairobi home or office setting. Clean, bright, aspirational. The ${cat} is displayed prominently. Warm Kenyan interior aesthetics. Shot on Canon 5D, f/2.8, natural light. No text, no watermarks, no people.`;\nconst linkedinPrompt = `Professional corporate photograph of ${productName} in a modern Nairobi office environment. Clean desk setup, corporate aesthetic. Professional lighting. B2B context. No text, no watermarks.`;\nconst tiktokPrompt = `Vibrant, eye-catching flat lay of ${productName}. Colourful props, trendy aesthetic, Gen-Z appeal. African textile patterns as background. Bright natural light. No text, no watermarks.`;\nreturn [{ productId, productName, category, instagramPrompt, linkedinPrompt, tiktokPrompt }];"
        },
        "name": "Build DALL-E Prompts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          640,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/images/generations",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"dall-e-3\", \"prompt\": \"{{ $json.instagramPrompt }}\", \"n\": 1, \"size\": \"1024x1024\", \"quality\": \"standard\", \"style\": \"natural\" }"
        },
        "name": "DALL-E 3: Instagram Mockup",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          100
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/images/generations",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"dall-e-3\", \"prompt\": \"{{ $json.linkedinPrompt }}\", \"n\": 1, \"size\": \"1792x1024\", \"quality\": \"standard\", \"style\": \"natural\" }"
        },
        "name": "DALL-E 3: LinkedIn Mockup",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/images/generations",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"dall-e-3\", \"prompt\": \"{{ $json.tiktokPrompt }}\", \"n\": 1, \"size\": \"1024x1792\", \"quality\": \"standard\", \"style\": \"natural\" }"
        },
        "name": "DALL-E 3: TikTok Mockup",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          500
        ]
      },
      {
        "parameters": {
          "url": "https://api.stability.ai/v1/generation/stable-diffusion-xl-1024-v1-0/text-to-image",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.STABILITY_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"text_prompts\": [{ \"text\": \"{{ $json.instagramPrompt }} photorealistic\", \"weight\": 1 }, { \"text\": \"blurry, low quality, text, watermark, logo\", \"weight\": -1 }], \"cfg_scale\": 7, \"height\": 1024, \"width\": 1024, \"samples\": 2, \"steps\": 30 }"
        },
        "name": "Stability AI: Variations",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          700
        ]
      },
      {
        "parameters": {
          "jsCode": "const productId = $node['Build DALL-E Prompts'].json.productId;\nconst instagramPrompt = $node['Build DALL-E Prompts'].json.instagramPrompt;\nconst dalleIG = $node['DALL-E 3: Instagram Mockup'].json.data?.[0]?.url;\nconst dalleLinkedIn = $node['DALL-E 3: LinkedIn Mockup'].json.data?.[0]?.url;\nconst dalleTikTok = $node['DALL-E 3: TikTok Mockup'].json.data?.[0]?.url;\nconst stabilityImages = $node['Stability AI: Variations'].json.artifacts || [];\nconst imageUrls = [\n  dalleIG ? { url: dalleIG, platform: 'instagram', generator: 'dalle3', prompt: instagramPrompt } : null,\n  dalleLinkedIn ? { url: dalleLinkedIn, platform: 'linkedin', generator: 'dalle3', prompt: $node['Build DALL-E Prompts'].json.linkedinPrompt } : null,\n  dalleTikTok ? { url: dalleTikTok, platform: 'tiktok', generator: 'dalle3', prompt: $node['Build DALL-E Prompts'].json.tiktokPrompt } : null,\n  ...stabilityImages.map((img, i) => img.base64 ? null : { url: `data:image/png;base64,${img.base64}`, platform: 'variation', generator: 'stabilityai', prompt: instagramPrompt + ' variation ' + (i+1) })\n].filter(Boolean);\nreturn [{ productId, imageUrls }];"
        },
        "name": "Collect All Image URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1080,
          400
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/upload-mockup-images",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={{ JSON.stringify({ productId: $json.productId, imageUrls: $json.imageUrls }) }}"
        },
        "name": "Upload Mockups to R2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1300,
          400
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-mockup-urls",
          "method": "PATCH",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={{ JSON.stringify({ productId: $node['Upload Mockups to R2'].json.results[0]?.productId || $node['Build DALL-E Prompts'].json.productId, mockups: $node['Upload Mockups to R2'].json.results }) }}"
        },
        "name": "Save Mockup URLs to DB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1520,
          400
        ]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.RESEND_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"from\": \"PrintHub AI <ai@printhub.africa>\", \"to\": \"{{$env.ADMIN_EMAIL}}\", \"subject\": \"Mockups Ready for Approval: {{$node['Build DALL-E Prompts'].json.productName}}\", \"html\": \"<h2>Lifestyle Mockups Ready</h2><p>{{$node['Upload Mockups to R2'].json.results.length}} mockups generated for <strong>{{$node['Build DALL-E Prompts'].json.productName}}</strong>.</p><p><a href='https://admin.printhub.africa/admin/ai'>Approve in AI Control Centre →</a></p>\" }"
        },
        "name": "Email Admin: Mockups Ready",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1740,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://printhub.africa/api/n8n/log-error",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "x-printhub-signature", "value": "={{$env.N8N_WEBHOOK_SECRET}}" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              { "name": "body", "value": "={{ JSON.stringify({ workflowName: 'AI-8 Lifestyle Mockups', errorMessage: $json.message || 'Unknown error', node: $json.node || 'Unknown node', executionId: $execution.id }) }}" }
            ]
          }
        },
        "name": "Error Handler",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1740,
          600
        ]
      }
    ],
    "connections": {
      "Webhook or Execute Trigger": {
        "main": [
          [
            {
              "node": "Verify Signature",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Signature": {
        "main": [
          [
            {
              "node": "Build DALL-E Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build DALL-E Prompts": {
        "main": [
          [
            {
              "node": "DALL-E 3: Instagram Mockup",
              "type": "main",
              "index": 0
            },
            {
              "node": "DALL-E 3: LinkedIn Mockup",
              "type": "main",
              "index": 0
            },
            {
              "node": "DALL-E 3: TikTok Mockup",
              "type": "main",
              "index": 0
            },
            {
              "node": "Stability AI: Variations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DALL-E 3: Instagram Mockup": {
        "main": [
          [
            {
              "node": "Collect All Image URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DALL-E 3: LinkedIn Mockup": {
        "main": [
          [
            {
              "node": "Collect All Image URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DALL-E 3: TikTok Mockup": {
        "main": [
          [
            {
              "node": "Collect All Image URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stability AI: Variations": {
        "main": [
          [
            {
              "node": "Collect All Image URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect All Image URLs": {
        "main": [
          [
            {
              "node": "Upload Mockups to R2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Mockups to R2": {
        "main": [
          [
            {
              "node": "Save Mockup URLs to DB",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Mockup URLs to DB": {
        "main": [
          [
            {
              "node": "Email Admin: Mockups Ready",
              "type": "main",
              "index": 0
            }
          ]
        ],
        "error": [
          [
            {
              "node": "Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-9 — Generate Video Content (ElevenLabs + Runway ML)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-video-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Webhook: Generate Video",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "webhookId": "generate-video-legacy"
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Generate Video'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Generate Video'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Generate Video'].json.body;"
        },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          420,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.ANTHROPIC_API_KEY }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 400, \"system\": \"You are the content and customer service AI for PrintHub Africa, a professional large-format and 3D printing company based in Nairobi, Kenya. Your tone is warm, professional, and expert. You understand the Kenyan market. Prices are always in KES. You never promise specific delivery times unless given them explicitly. You never invent product specs. When writing for customers, be friendly and helpful. When writing social media content, be engaging and locally relevant. Always write in British English (used in Kenya). Never use American spellings.\", \"messages\": [{ \"role\": \"user\", \"content\": \"Write a {{ $json.targetPlatform === 'tiktok' ? '15' : '30' }}-second spoken video script for {{ $json.productName }} on {{ $json.targetPlatform }}. Return JSON: { 'script': 'spoken words only', 'hook': 'first 3 words', 'cta': 'final call to action' }\" }] }"
        },
        "name": "Claude: Write Video Script",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          640,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const raw = $node['Claude: Write Video Script'].json.content?.[0]?.text || '{}';\nlet parsed;\ntry { parsed = JSON.parse(raw.match(/\\{[\\s\\S]*\\}/)?.[0] || raw); } catch { parsed = { script: raw, hook: '', cta: '' }; }\nreturn [{ ...$node['Verify Signature'].json, script: parsed.script, hook: parsed.hook, cta: parsed.cta }];"
        },
        "name": "Extract Script",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          860,
          200
        ]
      },
      {
        "parameters": {
          "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{$env.ELEVENLABS_VOICE_ID}}",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "xi-api-key",
                "value": "={{ $env.ELEVENLABS_API_KEY }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"text\": \"{{ $json.script }}\", \"model_id\": \"eleven_multilingual_v2\", \"voice_settings\": { \"stability\": 0.5, \"similarity_boost\": 0.75, \"style\": 0.3, \"use_speaker_boost\": true } }",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "name": "ElevenLabs: Generate Voiceover",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1080,
          200
        ]
      },
      {
        "parameters": {
          "url": "https://api.dev.runwayml.com/v1/image_to_video",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.RUNWAY_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"gen3a_turbo\", \"promptImage\": \"{{ $json.mockupImageUrl }}\", \"promptText\": \"Slow cinematic zoom in on the product. Professional product reveal. Smooth camera movement. {{ $json.productName }} in lifestyle setting.\", \"duration\": 5, \"ratio\": \"{{ $json.targetPlatform === 'tiktok' || $json.targetPlatform === 'instagram_reels' ? '768:1280' : '1280:768' }}\", \"watermark\": false }"
        },
        "name": "Runway: Generate Video",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1080,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.status }}",
                "value2": "SUCCEEDED"
              }
            ]
          }
        },
        "name": "Video Ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1520,
          400
        ]
      },
      {
        "parameters": {
          "url": "=https://api.dev.runwayml.com/v1/tasks/{{$node['Runway: Generate Video'].json.id}}",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.RUNWAY_API_KEY}}"
              }
            ]
          }
        },
        "name": "Poll Runway Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1300,
          400
        ]
      },
      {
        "parameters": {
          "amount": 10,
          "unit": "seconds"
        },
        "name": "Wait 10s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          1180,
          500
        ]
      },
      {
        "parameters": {
          "url": "=https://{{ $env.FFMPEG_SERVICE_URL || 'printhub-ffmpeg.railway.app' }}/combine",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-combine-secret",
                "value": "={{ $env.COMBINE_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"videoUrl\": \"{{ $node['Poll Runway Status'].json.output[0] }}\", \"audioUrl\": \"{{ $node['ElevenLabs: Generate Voiceover'].json.audioUrl || '' }}\", \"outputKey\": \"product-videos/{{ $json.productId }}/{{ $json.targetPlatform }}-{{ Date.now() }}.mp4\" }"
        },
        "name": "Combine Video + Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1740,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-video-content",
          "method": "PATCH",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-printhub-signature",
                "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"productId\": \"{{ $json.productId }}\", \"platform\": \"{{ $json.targetPlatform }}\", \"videoUrl\": \"{{ $node['Combine Video + Audio'].json.outputUrl }}\", \"thumbnailUrl\": \"{{ $json.mockupImageUrl }}\", \"duration\": 5 }"
        },
        "name": "Save Video to DB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1960,
          300
        ]
      }
    ],
    "connections": {
      "Webhook: Generate Video": {
        "main": [
          [
            {
              "node": "Verify Signature",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Signature": {
        "main": [
          [
            {
              "node": "Claude: Write Video Script",
              "type": "main",
              "index": 0
            },
            {
              "node": "Runway: Generate Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Write Video Script": {
        "main": [
          [
            {
              "node": "Extract Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Script": {
        "main": [
          [
            {
              "node": "ElevenLabs: Generate Voiceover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Runway: Generate Video": {
        "main": [
          [
            {
              "node": "Wait 10s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 10s": {
        "main": [
          [
            {
              "node": "Poll Runway Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poll Runway Status": {
        "main": [
          [
            {
              "node": "Video Ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Video Ready?": {
        "main": [
          [
            {
              "node": "Combine Video + Audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 10s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combine Video + Audio": {
        "main": [
          [
            {
              "node": "Save Video to DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-10 — Telegram Customer Chat Bot",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ]
        },
        "name": "Telegram: Receive Message",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "credentials": {
          "telegramApi": {
            "id": "telegram-cred",
            "name": "Telegram"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.message?.voice?.file_id }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "name": "Is Voice Note?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          420,
          300
        ]
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/getFile?file_id={{$json.message.voice.file_id}}",
          "method": "GET"
        },
        "name": "Get Voice File URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          640,
          100
        ]
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/file/bot{{$env.TELEGRAM_BOT_TOKEN}}/{{$node['Get Voice File URL'].json.result.file_path}}",
          "method": "GET",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "name": "Download Voice File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          860,
          100
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/audio/transcriptions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"whisper-1\", \"language\": \"en\", \"prompt\": \"PrintHub Africa customer service. Kenyan English. Printing services, 3D printing, banners, signage.\" }",
          "sendBinaryData": true,
          "binaryPropertyName": "data"
        },
        "name": "Whisper: Transcribe",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1080,
          100
        ]
      },
      {
        "parameters": {
          "jsCode": "const isVoice = $node['Is Voice Note?'].json.message?.voice?.file_id !== undefined;\nconst text = isVoice ? $node['Whisper: Transcribe'].json.text : $node['Is Voice Note?'].json.message?.text;\nconst chatId = ($node['Is Voice Note?'].json.message?.chat?.id || '').toString();\nconst customerName = $node['Is Voice Note?'].json.message?.from?.first_name || 'Customer';\nreturn [{ messageText: text, chatId, customerName, wasVoiceNote: isVoice }];"
        },
        "name": "Normalise Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1300,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.ANTHROPIC_API_KEY }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 400, \"system\": \"You are the content and customer service AI for PrintHub Africa, a professional large-format and 3D printing company based in Nairobi, Kenya. Your tone is warm, professional, and expert. You understand the Kenyan market. Prices are always in KES. You never promise specific delivery times unless given them explicitly. You never invent product specs. When writing for customers, be friendly and helpful. When writing social media content, be engaging and locally relevant. Always write in British English (used in Kenya). Never use American spellings. Note: this customer sent a voice note that was transcribed. Acknowledge naturally if relevant.\", \"messages\": [{ \"role\": \"user\", \"content\": \"Customer ({{ $json.customerName }}): {{ $json.messageText }}\" }] }"
        },
        "name": "Claude: Generate Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1520,
          300
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "={{ $node['Claude: Generate Reply'].json.content?.[0]?.text || 'Thank you for your message! We will get back to you shortly.' }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "name": "Telegram: Send Reply",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          1740,
          300
        ],
        "credentials": {
          "telegramApi": {
            "id": "telegram-cred",
            "name": "Telegram"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $node['Claude: Generate Reply'].json.content?.[0]?.text }}",
                "operation": "contains",
                "value2": "escalat"
              }
            ]
          }
        },
        "name": "Needs Human?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1960,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.RESEND_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"from\": \"PrintHub Telegram <bot@printhub.africa>\", \"to\": \"{{$env.ADMIN_EMAIL}}\", \"subject\": \"Telegram Customer Needs Human Support\", \"html\": \"<p>Customer {{ $node['Normalise Message'].json.customerName }} on Telegram needs human support.</p><p>Message: {{ $node['Normalise Message'].json.messageText }}</p>\" }"
        },
        "name": "Alert Admin: Human Needed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2180,
          200
        ]
      }
    ],
    "connections": {
      "Telegram: Receive Message": {
        "main": [
          [
            {
              "node": "Is Voice Note?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Voice Note?": {
        "main": [
          [
            {
              "node": "Get Voice File URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Normalise Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Voice File URL": {
        "main": [
          [
            {
              "node": "Download Voice File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Voice File": {
        "main": [
          [
            {
              "node": "Whisper: Transcribe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Whisper: Transcribe": {
        "main": [
          [
            {
              "node": "Normalise Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalise Message": {
        "main": [
          [
            {
              "node": "Claude: Generate Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Generate Reply": {
        "main": [
          [
            {
              "node": "Telegram: Send Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram: Send Reply": {
        "main": [
          [
            {
              "node": "Needs Human?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Human?": {
        "main": [
          [
            {
              "node": "Alert Admin: Human Needed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  {
    "name": "AI-11 — Extended Platform Posting",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ai-platform-expansion-legacy",
          "options": {
            "rawBody": true
          }
        },
        "name": "Execute Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          0,
          500
        ],
        "webhookId": "ai-platform-expansion-legacy"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.exportFlags.google_maps_post }}",
                "value2": true
              }
            ]
          }
        },
        "name": "If Google Maps?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          200,
          100
        ]
      },
      {
        "parameters": {
          "url": "=https://mybusiness.googleapis.com/v4/accounts/{{$env.GOOGLE_ACCOUNT_ID}}/locations/{{$env.GOOGLE_LOCATION_ID}}/localPosts",
          "method": "POST",
          "authentication": "oAuth2",
          "bodyParametersJson": "={ \"languageCode\": \"en\", \"summary\": \"{{ $json.captions.google_business }}\", \"callToAction\": { \"actionType\": \"SHOP\", \"url\": \"https://printhub.africa/shop/{{ $json.productSlug }}\" }, \"media\": [{ \"mediaFormat\": \"PHOTO\", \"sourceUrl\": \"{{ $json.approvedMockupUrl }}\" }], \"topicType\": \"PRODUCT\", \"offer\": { \"couponCode\": \"\", \"redeemOnlineUrl\": \"https://printhub.africa/shop/{{ $json.productSlug }}\", \"termsConditions\": \"While stocks last\" } }"
        },
        "name": "Google Maps: Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          450,
          100
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.exportFlags.bing_places }}",
                "value2": true
              }
            ]
          }
        },
        "name": "If Bing?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          200,
          250
        ]
      },
      {
        "parameters": {
          "url": "https://bingplaces.com/api/v1/business/posts",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Ocp-Apim-Subscription-Key",
                "value": "={{ $env.BING_MAPS_KEY }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"businessId\": \"{{ $env.BING_BUSINESS_ID }}\", \"post\": { \"title\": \"{{ $json.productName }}\", \"description\": \"{{ $json.shortDescription }}\", \"imageUrl\": \"{{ $json.approvedMockupUrl }}\", \"actionType\": \"LEARN_MORE\", \"actionUrl\": \"https://printhub.africa/shop/{{ $json.productSlug }}\" } }"
        },
        "name": "Bing Places: Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          450,
          250
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.exportFlags.apple_maps }}",
                "value2": true
              }
            ]
          }
        },
        "name": "If Apple Maps?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          200,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const jwt = require('jsonwebtoken');\nconst header = { alg: 'ES256', kid: process.env.APPLE_KEY_ID };\nconst payload = { iss: process.env.APPLE_TEAM_ID, iat: Math.floor(Date.now()/1000), exp: Math.floor(Date.now()/1000)+1800, origin: 'https://printhub.africa' };\nconst privateKey = Buffer.from(process.env.APPLE_PRIVATE_KEY, 'base64').toString();\nreturn [{ token: jwt.sign(payload, privateKey, { header }) }];"
        },
        "name": "Sign Apple JWT",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          450,
          400
        ]
      },
      {
        "parameters": {
          "url": "=https://places-api.apple.com/v1/places/{{ $env.APPLE_PLACE_ID }}/showcards",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.token }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"title\": \"{{ $node['Execute Trigger'].json.productName }}\", \"subtitle\": \"{{ $node['Execute Trigger'].json.shortDescription }}\", \"image\": { \"url\": \"{{ $node['Execute Trigger'].json.approvedMockupUrl }}\" }, \"action\": { \"type\": \"link\", \"url\": \"https://printhub.africa/shop/{{ $node['Execute Trigger'].json.productSlug }}\" } }"
        },
        "name": "Apple Maps: Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.exportFlags.pigiame }}",
                "value2": true
              }
            ]
          }
        },
        "name": "If PigiaMe?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          200,
          550
        ]
      },
      {
        "parameters": {
          "url": "https://www.pigiame.co.ke/accounts/login/",
          "method": "POST",
          "bodyParametersJson": "={ \"email\": \"{{ $env.PIGIAME_EMAIL }}\", \"password\": \"{{ $env.PIGIAME_PASSWORD }}\" }"
        },
        "name": "PigiaMe: Auth",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          450,
          550
        ]
      },
      {
        "parameters": {
          "url": "https://www.pigiame.co.ke/api/listings/create/",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Cookie",
                "value": "={{ $json.headers['set-cookie'] }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"title\": \"{{ $node['Execute Trigger'].json.productName }} — PrintHub Africa\", \"description\": \"{{ $node['Execute Trigger'].json.shortDescription }}\\n\\nProfessional quality. Fast turnaround.\\nOrder online: printhub.africa\\nWhatsApp: +254XXXXXXXXX\\nNairobi CBD and delivery available.\", \"price\": {{ $node['Execute Trigger'].json.price }}, \"location\": \"Nairobi\", \"phone\": \"{{ $env.BUSINESS_PHONE }}\" }"
        },
        "name": "PigiaMe: Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          550
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.exportFlags.olx_kenya }}",
                "value2": true
              }
            ]
          }
        },
        "name": "If OLX?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          200,
          700
        ]
      },
      {
        "parameters": {
          "url": "https://api.olx.co.ke/api/oauth/token",
          "method": "POST",
          "bodyParametersJson": "={ \"grant_type\": \"password\", \"username\": \"{{ $env.OLX_EMAIL }}\", \"password\": \"{{ $env.OLX_PASSWORD }}\", \"client_id\": \"olx-kenya-web\" }"
        },
        "name": "OLX: Auth",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          450,
          700
        ]
      },
      {
        "parameters": {
          "url": "https://api.olx.co.ke/api/v2/ads",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"ad\": { \"title\": \"{{ $node['Execute Trigger'].json.productName }} | PrintHub Africa | Nairobi\", \"description\": \"{{ $node['Execute Trigger'].json.description }}\\n\\n✅ Professional quality\\n✅ Fast turnaround\\n✅ Delivery available in Nairobi\\n🌐 printhub.africa\\n📱 WhatsApp: +254XXXXXXXXX\", \"price\": {{ $node['Execute Trigger'].json.price }}, \"currency\": \"KES\", \"location\": { \"city_id\": 1, \"region_id\": 1 }, \"phone_hidden\": false } }"
        },
        "name": "OLX: Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          700
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.exportFlags.reddit }}",
                "value2": true
              }
            ]
          }
        },
        "name": "If Reddit?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          200,
          850
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"gpt-4o\", \"messages\": [{ \"role\": \"system\", \"content\": \"You write Reddit posts for PrintHub Africa...\" }, { \"role\": \"user\", \"content\": \"Write a Reddit post about {{ $json.productName }} for r/Kenya. Return JSON { title, body }.\" }] }"
        },
        "name": "GPT-4o: Reddit Content",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          450,
          850
        ]
      },
      {
        "parameters": {
          "url": "https://oauth.reddit.com/api/submit",
          "method": "POST",
          "authentication": "oAuth2",
          "bodyParametersJson": "={ \"sr\": \"Kenya\", \"kind\": \"image\", \"title\": \"{{ JSON.parse($json.choices[0].message.content).title }}\", \"url\": \"{{ $node['Execute Trigger'].json.approvedMockupUrl }}\", \"text\": \"{{ JSON.parse($json.choices[0].message.content).body }}\" }"
        },
        "name": "Reddit: Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          850
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.exportFlags.linkedin_newsletter }}",
                "value2": true
              }
            ]
          }
        },
        "name": "If LinkedIn newsletter?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          200,
          1000
        ]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.ANTHROPIC_API_KEY }}"
              }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 2000, \"system\": \"You are writing a LinkedIn Newsletter...\", \"messages\": [{ \"role\": \"user\", \"content\": \"Write newsletter for {{ $json.productName }}.\" }] }"
        },
        "name": "Claude: LinkedIn Article",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          450,
          1000
        ]
      },
      {
        "parameters": {
          "url": "https://api.linkedin.com/v2/articles",
          "method": "POST",
          "authentication": "oAuth2",
          "bodyParametersJson": "={ \"author\": \"urn:li:organization:{{$env.LINKEDIN_ORGANIZATION_ID}}\", \"lifecycleState\": \"PUBLISHED\", \"specificContent\": { \"com.linkedin.ugc.ShareContent\": { \"shareCommentary\": { \"text\": \"{{ JSON.parse($json.content[0].text).headline }}\" }, \"shareMediaCategory\": \"ARTICLE\", \"media\": [{ \"status\": \"READY\", \"description\": { \"text\": \"{{ JSON.parse($json.content[0].text).subheadline }}\" }, \"originalUrl\": \"https://printhub.africa/shop/{{$json.productSlug}}\", \"title\": { \"text\": \"{{ JSON.parse($json.content[0].text).headline }}\" } }] } } }"
        },
        "name": "LinkedIn: Article",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          1000
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.exportFlags.medium }}",
                "value2": true
              }
            ]
          }
        },
        "name": "If Medium?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          200,
          1150
        ]
      },
      {
        "parameters": {
          "url": "https://api.medium.com/v1/users/{{$env.MEDIUM_USER_ID}}/posts",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{$env.MEDIUM_INTEGRATION_TOKEN}}"
              }
            ]
          },
          "bodyParametersJson": "={ \"title\": \"{{ JSON.parse($node['Claude: LinkedIn Article'].json.content[0].text).headline }}\", \"contentFormat\": \"html\", \"content\": \"{{ JSON.parse($node['Claude: LinkedIn Article'].json.content[0].text).body_html }}\", \"publishStatus\": \"public\", \"canonicalUrl\": \"https://printhub.africa/shop/{{$json.productSlug}}\" }"
        },
        "name": "Medium: Article",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          450,
          1150
        ]
      }
    ],
    "connections": {
      "Execute Trigger": {
        "main": [
          [
            {
              "node": "If Google Maps?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If Bing?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If Apple Maps?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If PigiaMe?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If OLX?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If Reddit?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If LinkedIn newsletter?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If Medium?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Google Maps?": {
        "main": [
          [
            {
              "node": "Google Maps: Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Bing?": {
        "main": [
          [
            {
              "node": "Bing Places: Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Apple Maps?": {
        "main": [
          [
            {
              "node": "Sign Apple JWT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sign Apple JWT": {
        "main": [
          [
            {
              "node": "Apple Maps: Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If PigiaMe?": {
        "main": [
          [
            {
              "node": "PigiaMe: Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PigiaMe: Auth": {
        "main": [
          [
            {
              "node": "PigiaMe: Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If OLX?": {
        "main": [
          [
            {
              "node": "OLX: Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OLX: Auth": {
        "main": [
          [
            {
              "node": "OLX: Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Reddit?": {
        "main": [
          [
            {
              "node": "GPT-4o: Reddit Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4o: Reddit Content": {
        "main": [
          [
            {
              "node": "Reddit: Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If LinkedIn newsletter?": {
        "main": [
          [
            {
              "node": "Claude: LinkedIn Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: LinkedIn Article": {
        "main": [
          [
            {
              "node": "LinkedIn: Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Medium?": {
        "main": [
          [
            {
              "node": "Medium: Article",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
]