n8n/workflows/printhub_stubs_part2.json
[
  {
    "name": "8. PrintHub - Product Updated (Price/Stock Differential)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "product-updated", "options": { "rawBody": true } },
        "name": "Webhook: Product Update",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [0, 300],
        "webhookId": "product-updated"
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Product Update'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Product Update'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Product Update'].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": { "jsCode": "const { changes, oldValues, newValues } = $json;\nconst oldPrice = parseFloat(oldValues?.basePrice || 0);\nconst newPrice = parseFloat(newValues?.basePrice || 0);\nconst priceDiff = oldPrice > 0 ? Math.abs((newPrice - oldPrice) / oldPrice) * 100 : 0;\nconst isPriceChange = priceDiff >= 5;\nconst isStockChange = changes?.includes('stock') || changes?.includes('availability');\nconst isGoingOutOfStock = isStockChange && (newValues?.stock === 0 || newValues?.availability === 'OUT_OF_STOCK');\nreturn [{ ...$json, priceDiff: priceDiff.toFixed(1), isPriceChange, isStockChange, isGoingOutOfStock, priceDirection: newPrice > oldPrice ? 'increase' : 'decrease' }];" },
        "name": "Calculate Differential",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [400, 300]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [{ "value1": "={{ $json.isPriceChange }}", "value2": true }]
          }
        },
        "name": "Significant Price Change?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [600, 150]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v19.0/{{ $env.META_AD_ACCOUNT_ID }}/products",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.META_ACCESS_TOKEN}}" }] },
          "bodyParametersJson": "={ \"retailer_id\": \"{{ $json.productId }}\", \"price\": {{ Math.round($json.newValues.basePrice * 100) }}, \"currency\": \"KES\", \"availability\": \"{{ $json.newValues.stock > 0 ? 'in stock' : 'out of stock' }}\" }"
        },
        "name": "Meta: Update Catalog Price",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 100]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [{ "value1": "={{ $json.isGoingOutOfStock }}", "value2": true }]
          }
        },
        "name": "Going Out of Stock?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [600, 450]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-template",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"slug\": \"stock-alert-email\", \"type\": \"EMAIL\" }"
        },
        "name": "Fetch Stock Alert Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 350]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] },
          "bodyParametersJson": "={ \"from\": \"PrintHub Stock <stock@printhub.africa>\", \"to\": \"{{ $env.ADMIN_EMAIL }}\", \"subject\": \"{{ $node['Fetch Stock Alert Template'].json.subject }}\", \"html\": \"{{ ($node['Fetch Stock Alert Template'].json.bodyHtml || '').replace(/{{productName}}/g, $json.productName).replace(/{{sku}}/g, $json.sku || 'N/A').replace(/{{productId}}/g, $json.productId) }}\" }"
        },
        "name": "Email: Out of Stock Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1000, 450]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/mark-product-exported",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"productId\": \"{{ $json.productId }}\" }"
        },
        "name": "Mark Product Synced",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1200, 300]
      }
    ],
    "connections": {
      "Webhook: Product Update": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] },
      "Verify Signature": { "main": [[{ "node": "Calculate Differential", "type": "main", "index": 0 }]] },
      "Calculate Differential": { "main": [[{ "node": "Significant Price Change?", "type": "main", "index": 0 }, { "node": "Going Out of Stock?", "type": "main", "index": 0 }]] },
      "Significant Price Change?": { "main": [[{ "node": "Meta: Update Catalog Price", "type": "main", "index": 0 }], [{ "node": "Mark Product Synced", "type": "main", "index": 0 }]] },
      "Meta: Update Catalog Price": { "main": [[{ "node": "Mark Product Synced", "type": "main", "index": 0 }]] },
      "Going Out of Stock?": { "main": [[{ "node": "Fetch Stock Alert Template", "type": "main", "index": 0 }], []] },
      "Fetch Stock Alert Template": { "main": [[{ "node": "Email: Out of Stock Alert", "type": "main", "index": 0 }]] },
      "Email: Out of Stock Alert": { "main": [[{ "node": "Mark Product Synced", "type": "main", "index": 0 }]] }
    }

  },
  {
    "name": "9. PrintHub - Sync Social Feeds (Catalog Manager)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "sync-social-feeds", "options": { "rawBody": true } },
        "name": "Webhook: Sync All",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [0, 300],
        "webhookId": "sync-social-feeds"
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Sync All'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Sync All'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Sync All'].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/product-catalogue-summary",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-n8n-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] }
        },
        "name": "Fetch Full Catalogue",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [400, 300]
      },
      {
        "parameters": {
          "jsCode": "const products = $json.products || [];\nconst metaBatch = products.map(p => ({\n  retailer_id: p.id,\n  name: p.name,\n  description: p.shortDescription || p.name,\n  availability: p.availability === 'IN_STOCK' ? 'in stock' : 'out of stock',\n  condition: 'new',\n  price: `${Math.round(p.basePriceKes * 100)} KES`,\n  link: `https://printhub.africa/shop/${p.slug}`,\n  brand: 'PrintHub Africa',\n  google_product_category: 'Arts & Entertainment > Hobbies & Creative Arts'\n}));\nreturn [{ products, metaBatch, count: products.length }];"
        },
        "name": "Format for Platforms",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [600, 300]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v19.0/{{ $env.META_CATALOG_ID }}/batch",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.META_ACCESS_TOKEN}}" }] },
          "bodyParametersJson": "={ \"allow_upsert\": true, \"requests\": {{ JSON.stringify($json.metaBatch.slice(0, 50).map(p => ({ method: 'UPDATE', retailer_id: p.retailer_id, data: p }))) }} }"
        },
        "name": "Meta: Batch Catalog Update",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 150]
      },
      {
        "parameters": {
          "url": "=https://business-api.tiktok.com/open_api/v1.3/catalog/product/upload/?catalog_id={{ $env.TIKTOK_CATALOG_ID }}",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Access-Token", "value": "={{ $env.TIKTOK_EVENTS_API_TOKEN }}" }] },
          "bodyParametersJson": "={ \"products\": {{ JSON.stringify($node['Format for Platforms'].json.products.slice(0,50).map(p => ({ item_content_id: p.id, title: p.name, description: p.shortDescription || p.name, price: p.basePriceKes, currency: 'KES', availability: p.availability === 'IN_STOCK' ? 'in stock' : 'out of stock', link: 'https://printhub.africa/shop/' + p.slug }))) }} }"
        },
        "name": "TikTok: Batch Catalog Update",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 350]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] },
          "bodyParametersJson": "={ \"from\": \"PrintHub AI <ai@printhub.africa>\", \"to\": \"{{ $env.ADMIN_EMAIL }}\", \"subject\": \"✅ Social Feed Sync Complete — {{ $node['Format for Platforms'].json.count }} products\", \"html\": \"<h2>✅ Catalog Sync Complete</h2><p>Successfully synced <strong>{{ $node['Format for Platforms'].json.count }} products</strong> to:</p><ul><li>Meta Commerce Catalog</li><li>TikTok Shop Catalog</li></ul><p style='color:#888;font-size:12px;'>{{ new Date().toLocaleString('en-GB', {timeZone:'Africa/Nairobi'}) }} EAT</p>\" }"
        },
        "name": "Email: Sync Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1000, 250]
      }
    ],
    "connections": {
      "Webhook: Sync All": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] },
      "Verify Signature": { "main": [[{ "node": "Fetch Full Catalogue", "type": "main", "index": 0 }]] },
      "Fetch Full Catalogue": { "main": [[{ "node": "Format for Platforms", "type": "main", "index": 0 }]] },
      "Format for Platforms": { "main": [[{ "node": "Meta: Batch Catalog Update", "type": "main", "index": 0 }, { "node": "TikTok: Batch Catalog Update", "type": "main", "index": 0 }]] },
      "Meta: Batch Catalog Update": { "main": [[{ "node": "Email: Sync Report", "type": "main", "index": 0 }]] },
      "TikTok: Batch Catalog Update": { "main": [[{ "node": "Email: Sync Report", "type": "main", "index": 0 }]] }
    }
  },
  {
    "name": "11. PrintHub - Quote Ready (PDF & Customer Close)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "quote-ready", "options": { "rawBody": true } },
        "name": "Webhook: Quote Ready",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [0, 300],
        "webhookId": "quote-ready"
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Quote Ready'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Quote Ready'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Quote Ready'].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-quote-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "qs": [{ "name": "quoteId", "value": "={{ $json.quoteId }}" }]
        },
        "name": "Get Full Quote Details",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [400, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/generate-pdf",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"type\": \"QUOTE\", \"filename\": \"quote-{{ $json.quoteNumber || $json.id }}.pdf\", \"data\": { \"businessName\": \"PrintHub Africa\", \"businessAddress\": \"Nairobi, Kenya\", \"invoiceNumber\": \"{{ $json.quoteNumber || $json.id }}\", \"orderNumber\": \"{{ $json.id }}\", \"date\": \"{{ new Date().toLocaleDateString('en-GB') }}\", \"billTo\": \"{{ $json.customerName }}\", \"billToEmail\": \"{{ $json.customerEmail }}\", \"billToAddress\": \"Kenya\", \"items\": [{ \"name\": \"{{ $json.projectName }}\", \"qty\": 1, \"unitPrice\": {{ $json.amount || 0 }}, \"lineTotal\": {{ $json.amount || 0 }} }], \"subtotal\": {{ $json.amount || 0 }}, \"vatAmount\": {{ ($json.amount || 0) * 0.16 }}, \"totalAmount\": {{ ($json.amount || 0) * 1.16 }}, \"vatOnInvoices\": true } }"
        },
        "name": "Generate Quote PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [600, 200]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-template",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"slug\": \"quote-ready-email\", \"type\": \"EMAIL\" }"
        },
        "name": "Fetch Email Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [600, 400]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-template",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"slug\": \"quote-ready-whatsapp\", \"type\": \"WHATSAPP\" }"
        },
        "name": "Fetch WhatsApp Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [600, 600]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] },
          "bodyParametersJson": "={ \"from\": \"PrintHub Africa <quotes@printhub.africa>\", \"to\": \"{{ $node['Get Full Quote Details'].json.customerEmail }}\", \"subject\": \"{{ $node['Fetch Email Template'].json.subject }}\", \"html\": \"{{ ($node['Fetch Email Template'].json.bodyHtml || '').replace(/{{customerName}}/g, $node['Get Full Quote Details'].json.customerName).replace(/{{projectName}}/g, $node['Get Full Quote Details'].json.projectName).replace(/{{quoteTotal}}/g, (($node['Get Full Quote Details'].json.amount || 0) * 1.16).toLocaleString()).replace(/{{pdfUrl}}/g, $node['Generate Quote PDF'].json.pdfUrl || '') }}\" }"
        },
        "name": "Email: Quote to Customer",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 150]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v19.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}" }] },
          "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $node['Get Full Quote Details'].json.customerPhone }}\", \"type\": \"text\", \"text\": { \"body\": \"{{ ($node['Fetch WhatsApp Template'].json.bodyText || '').replace(/{{customerName}}/g, $node['Get Full Quote Details'].json.customerName).replace(/{{projectName}}/g, $node['Get Full Quote Details'].json.projectName).replace(/{{quoteTotal}}/g, (($node['Get Full Quote Details'].json.amount || 0) * 1.16).toLocaleString()) }}\" } }"
        },
        "name": "WhatsApp: Quote Notification",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 350]
      }
    ],
    "connections": {
      "Webhook: Quote Ready": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] },
      "Verify Signature": { "main": [[{ "node": "Get Full Quote Details", "type": "main", "index": 0 }]] },
      "Get Full Quote Details": { "main": [[{ "node": "Generate Quote PDF", "type": "main", "index": 0 }, { "node": "Fetch Email Template", "type": "main", "index": 0 }, { "node": "Fetch WhatsApp Template", "type": "main", "index": 0 }]] },
      "Generate Quote PDF": { "main": [[{ "node": "Email: Quote to Customer", "type": "main", "index": 0 }, { "node": "WhatsApp: Quote Notification", "type": "main", "index": 0 }]] },
      "Fetch Email Template": { "main": [[{ "node": "Email: Quote to Customer", "type": "main", "index": 0 }]] },
      "Fetch WhatsApp Template": { "main": [[{ "node": "WhatsApp: Quote Notification", "type": "main", "index": 0 }]] }
    }

  },
  {
    "name": "12. PrintHub - New Device Login (Admin Security)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "new-device-login", "options": { "rawBody": true } },
        "name": "Webhook: New Login",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [0, 300],
        "webhookId": "new-device-login"
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: New Login'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: New Login'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: New Login'].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] },
          "bodyParametersJson": "={ \"from\": \"PrintHub Security <security@printhub.africa>\", \"to\": [\"{{ $env.ADMIN_EMAIL }}\", \"{{ $json.userEmail }}\"], \"subject\": \"🔑 New Device Login — {{ $json.userEmail }}\", \"html\": \"<h2>🔑 New Device Login Detected</h2><p>A new device logged into the PrintHub admin panel.</p><table style='border-collapse:collapse;width:100%;max-width:500px'><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>User</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ $json.userEmail }}</td></tr><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>IP Address</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ $json.ipAddress }}</td></tr><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>Location</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ $json.geolocation || 'Unknown' }}</td></tr><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>Device</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ ($json.userAgent || '').slice(0, 80) }}</td></tr><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>Time</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ new Date().toLocaleString('en-GB', {timeZone:'Africa/Nairobi'}) }} EAT</td></tr></table><p style='margin-top:16px'>If this was not you, <a href='https://admin.printhub.africa/admin/security' style='color:#dc2626;font-weight:bold'>revoke all sessions immediately →</a></p><p style='color:#888;font-size:12px'>PrintHub Africa Admin Security System</p>\" }"
        },
        "name": "Email: New Device Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [400, 150]
      },
      {
        "parameters": {
          "chatId": "={{ $env.TELEGRAM_CHANNEL_ID }}",
          "text": "=🔑 *New Admin Login*\n\n*User:* {{ $json.userEmail }}\n*IP:* {{ $json.ipAddress }}\n*Location:* {{ $json.geolocation || 'Unknown' }}\n*Time:* {{ new Date().toLocaleString('en-GB', {timeZone:'Africa/Nairobi'}) }} EAT\n\n_If unexpected: admin.printhub.africa/admin/security_",
          "additionalFields": { "parse_mode": "Markdown" }
        },
        "name": "Telegram: New Login Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [400, 350],
        "credentials": { "telegramApi": { "id": "telegram-cred", "name": "Telegram" } }
      },
      {
        "parameters": {
          "conditions": {
            "string": [{ "value1": "={{ $json.geolocation }}", "operation": "notContains", "value2": "Kenya" }]
          }
        },
        "name": "Login Outside Kenya?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [600, 250]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v19.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}" }] },
          "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $env.BUSINESS_PHONE }}\", \"type\": \"text\", \"text\": { \"body\": \"🚨 SUSPICIOUS LOGIN\\n\\nAdmin login from OUTSIDE Kenya detected!\\n\\nUser: {{ $json.userEmail }}\\nLocation: {{ $json.geolocation }}\\nIP: {{ $json.ipAddress }}\\n\\nIf not you, revoke sessions NOW: admin.printhub.africa/admin/security\" } }"
        },
        "name": "WhatsApp: Suspicious Login",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 200]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/log-error",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"type\": \"NEW_DEVICE_LOGIN\", \"message\": \"New device login for {{ $json.userEmail }} from {{ $json.ipAddress }} ({{ $json.geolocation || 'Unknown location' }})\", \"severity\": \"INFO\", \"metadata\": {{ JSON.stringify({ userId: $json.userId, ip: $json.ipAddress, location: $json.geolocation, device: $json.userAgent }) }} }"
        },
        "name": "Log Security Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [800, 400]
      }
    ],
    "connections": {
      "Webhook: New Login": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] },
      "Verify Signature": { "main": [[{ "node": "Email: New Device Alert", "type": "main", "index": 0 }, { "node": "Telegram: New Login Alert", "type": "main", "index": 0 }]] },
      "Email: New Device Alert": { "main": [[{ "node": "Login Outside Kenya?", "type": "main", "index": 0 }]] },
      "Telegram: New Login Alert": { "main": [[{ "node": "Login Outside Kenya?", "type": "main", "index": 0 }]] },
      "Login Outside Kenya?": { "main": [[{ "node": "WhatsApp: Suspicious Login", "type": "main", "index": 0 }], [{ "node": "Log Security Event", "type": "main", "index": 0 }]] },
      "WhatsApp: Suspicious Login": { "main": [[{ "node": "Log Security Event", "type": "main", "index": 0 }]] }
    }
  }
]
