n8n/workflows/printhub_ai_new_workflows.json
[
  {
    "name": "AI-1 — Auto-Generate Social Media Posts (GPT-4o)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "ai-generate-social", "options": { "rawBody": true } },
        "name": "Webhook: Product Published",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "ai-generate-social"
      },
      {
        "parameters": { "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Product Published'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Product Published'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Product Published'].json.body;" },
        "name": "Verify Signature",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [420, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-product-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "qs": [{ "name": "productId", "value": "={{ $json.productId }}" }]
        },
        "name": "Get Product Context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [640, 300]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" }] },
          "bodyParametersJson": "={ \"model\": \"gpt-4o\", \"messages\": [{ \"role\": \"system\", \"content\": \"You are a social media and advertising copywriter for PrintHub Africa. Your style is punchy, engaging, and high-energy. You use emojis effectively. You understand Nairobi's trends and slang (Sheng) where appropriate for Gen Z audiences, but remain professional for LinkedIn. You always include targeted hashtags. British English only. No Americanisms.\" }, { \"role\": \"user\", \"content\": \"Create short, punchy social media posts for this product: {{ $json.name }}. Description: {{ $json.description }}. Category: {{ $json.category }}. Write unique versions for: 1. Instagram (visual, emoji-heavy), 2. TikTok (hook-driven, trendy), 3. LinkedIn (professional, B2B value). Return valid JSON: { 'instagram': '...', 'tiktok': '...', 'linkedin': '...' }\" }] }"
        },
        "name": "GPT-4o: Generate Social Posts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-ai-content",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"productId\": \"{{ $node['Get Product Context'].json.id }}\", \"socialPosts\": {{ $json.choices[0].message.content }} }"
        },
        "name": "Save Social Posts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1080, 300]
      }
    ],
    "connections": {
      "Webhook: Product Published": { "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]] },
      "Verify Signature": { "main": [[{ "node": "Get Product Context", "type": "main", "index": 0 }]] },
      "Get Product Context": { "main": [[{ "node": "GPT-4o: Generate Social Posts", "type": "main", "index": 0 }]] },
      "GPT-4o: Generate Social Posts": { "main": [[{ "node": "Save Social Posts", "type": "main", "index": 0 }]] }
    }
  },
  {
    "name": "AI-2 — WhatsApp Auto-Reply (Claude)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "whatsapp-incoming", "options": { "rawBody": true } },
        "name": "Webhook: WhatsApp Incoming",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [100, 300],
        "webhookId": "whatsapp-incoming"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.type }}",
                "value2": "audio"
              }
            ]
          }
        },
        "name": "Is Voice Note?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [320, 300]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v19.0/{{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              { "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}" }
            ]
          }
        },
        "name": "Get Audio URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [540, 150]
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              { "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}" }
            ]
          },
          "options": { "response": { "response": { "responseFormat": "file" } } }
        },
        "name": "Download Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [760, 150]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/audio/transcriptions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": {
            "parameters": [
              { "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" }
            ]
          },
          "bodyParametersJson": "={ \"model\": \"whisper-1\", \"language\": \"en\", \"prompt\": \"PrintHub Africa customer service. Kenyan English. Printing services, 3D printing, banners, signage.\" }",
          "sendBinaryData": true,
          "binaryPropertyName": "data"
        },
        "name": "Whisper Transcription",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [980, 150]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-customer-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "qs": [{ "name": "phone", "value": "={{ $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].from }}" }]
        },
        "name": "Get Customer Context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1200, 300]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }] },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 400, \"system\": \"You are the content and customer service AI for PrintHub Africa... Note: if the customer sent a voice note, it was transcribed. Acknowledge this naturally if relevant. Context: {{ JSON.stringify($node['Get Customer Context'].json) }}\", \"messages\": [{ \"role\": \"user\", \"content\": \"Customer Message: {{ $node['Whisper Transcription'].json.text || $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].text.body }}. Write a helpful reply.\" }] }"
        },
        "name": "Claude: Generate Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1420, 300]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v19.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}" }] },
          "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].from }}\", \"type\": \"text\", \"text\": { \"body\": \"{{ $json.content[0].text.replace('[ESCALATE]', '') }}\" } }"
        },
        "name": "WhatsApp: Send Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1640, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/log-ai-usage",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"service\": \"Anthropic\", \"operation\": \"customer-reply\", \"model\": \"claude-opus-4-6\", \"inputTokens\": 500, \"outputTokens\": {{ $node['Claude: Generate Reply'].json.usage.output_tokens }}, \"costUsd\": {{ ($node['Claude: Generate Reply'].json.usage.input_tokens * 0.000015) + ($node['Claude: Generate Reply'].json.usage.output_tokens * 0.000075) }}, \"success\": true }"
        },
        "name": "Log AI Usage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [1860, 300]
      }
    ],
    "connections": {
      "Webhook: WhatsApp Incoming": { "main": [[{ "node": "Is Voice Note?", "type": "main", "index": 0 }]] },
      "Is Voice Note?": {
        "main": [
          [{ "node": "Get Audio URL", "type": "main", "index": 0 }],
          [{ "node": "Get Customer Context", "type": "main", "index": 0 }]
        ]
      },
      "Get Audio URL": { "main": [[{ "node": "Download Audio", "type": "main", "index": 0 }]] },
      "Download Audio": { "main": [[{ "node": "Whisper Transcription", "type": "main", "index": 0 }]] },
      "Whisper Transcription": { "main": [[{ "node": "Get Customer Context", "type": "main", "index": 0 }]] },
      "Get Customer Context": { "main": [[{ "node": "Claude: Generate Reply", "type": "main", "index": 0 }]] },
      "Claude: Generate Reply": { "main": [[{ "node": "WhatsApp: Send Reply", "type": "main", "index": 0 }]] },
      "WhatsApp: Send Reply": { "main": [[{ "node": "Log AI Usage", "type": "main", "index": 0 }]] }
    }


  },
  {
    "name": "AI-3 — Generate Ad Copy Variations (GPT-4o)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "ai-generate-adcopy", "options": { "rawBody": true } },
        "name": "Webhook: Generate Ad Copy",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "ai-generate-adcopy"
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-product-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "qs": [{ "name": "productId", "value": "={{ $json.productId }}" }]
        },
        "name": "Get Product Details",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [420, 300]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" }] },
          "bodyParametersJson": "={ \"model\": \"gpt-4o\", \"messages\": [{ \"role\": \"system\", \"content\": \"You are a social media and advertising copywriter for PrintHub Africa...\" }, { \"role\": \"user\", \"content\": \"Generate 3 ad copy variations for {{ $json.name }}. Target: Meta Ads and Google Search. Return JSON array of objects: [{ 'platform': 'meta', 'headline': '...', 'body': '...', 'cta': '...' }]\" }] }"
        },
        "name": "GPT-4o: Generate Ad Copy",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [640, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-ai-content",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"productId\": \"{{ $node['Get Product Details'].json.id }}\", \"adCopyVariations\": {{ $json.choices[0].message.content }} }"
        },
        "name": "Save Ad Variations",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 300]
      }
    ],
    "connections": {
      "Webhook: Generate Ad Copy": { "main": [[{ "node": "Get Product Details", "type": "main", "index": 0 }]] },
      "Get Product Details": { "main": [[{ "node": "GPT-4o: Generate Ad Copy", "type": "main", "index": 0 }]] },
      "GPT-4o: Generate Ad Copy": { "main": [[{ "node": "Save Ad Variations", "type": "main", "index": 0 }]] }
    }
  },
  {
    "name": "AI-4 — Auto-Generate Product Descriptions (Claude)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "ai-generate-descriptions", "options": { "rawBody": true } },
        "name": "Webhook: Generate Descriptions",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "ai-generate-descriptions"
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-product-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "qs": [{ "name": "productId", "value": "={{ $json.productId }}" }]
        },
        "name": "Get Context",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [420, 300]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }] },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 1000, \"system\": \"You are the content and customer service AI for PrintHub Africa...\", \"messages\": [{ \"role\": \"user\", \"content\": \"Write a compelling, SEO-optimised product description for {{ $json.name }}. Include: 1. Main description (200 words), 2. Short description (50 words), 3. 5 Key Features as a list, 4. SEO meta title, 5. SEO meta description. Return valid JSON.\" }] }"
        },
        "name": "Claude: Write Descriptions",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [640, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-ai-content",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"productId\": \"{{ $node['Get Context'].json.id }}\", \"descriptions\": {{ $json.content[0].text }} }"
        },
        "name": "Save Descriptions",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 300]
      }
    ],
    "connections": {
      "Webhook: Generate Descriptions": { "main": [[{ "node": "Get Context", "type": "main", "index": 0 }]] },
      "Get Context": { "main": [[{ "node": "Claude: Write Descriptions", "type": "main", "index": 0 }]] },
      "Claude: Write Descriptions": { "main": [[{ "node": "Save Descriptions", "type": "main", "index": 0 }]] }
    }
  },
  {
    "name": "AI-5 — AI-Assisted Quote Responses (Claude)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "ai-generate-quotedraft", "options": { "rawBody": true } },
        "name": "Webhook: Generate Quote Draft",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "ai-generate-quotedraft"
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/get-quote-context",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "qs": [{ "name": "quoteId", "value": "={{ $json.quoteId }}" }]
        },
        "name": "Get Quote Details",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [420, 300]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }] },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 1000, \"system\": \"You are the expert estimator for PrintHub Africa...\", \"messages\": [{ \"role\": \"user\", \"content\": \"Customer {{ $json.customerName }} wants a quote for: {{ $json.projectName }}. Details: {{ $json.description }}. Write a professional draft response with a suggested price (if possible based on context) and breakdown. Include warm Kenyan business greeting. Return valid JSON: { 'draft': '...', 'suggestedPrice': 0, 'breakdown': '...' }\" }] }"
        },
        "name": "Claude: Generate Draft",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [640, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-quote-draft",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"quoteId\": \"{{ $node['Get Quote Details'].json.id }}\", \"draft\": \"{{ $json.content[0].text.draft }}\", \"amount\": {{ $json.content[0].text.suggestedPrice || 0 }}, \"breakdown\": \"{{ $json.content[0].text.breakdown }}\" }"
        },
        "name": "Save Quote Draft",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 300]
      }
    ],
    "connections": {
      "Webhook: Generate Quote Draft": { "main": [[{ "node": "Get Quote Details", "type": "main", "index": 0 }]] },
      "Get Quote Details": { "main": [[{ "node": "Claude: Generate Draft", "type": "main", "index": 0 }]] },
      "Claude: Generate Draft": { "main": [[{ "node": "Save Quote Draft", "type": "main", "index": 0 }]] }
    }
  },
  {
    "name": "AI-6 — Sentiment Analysis (GPT-4o)",
    "nodes": [
      {
        "parameters": { "httpMethod": "POST", "path": "ai-analyse-sentiment", "options": { "rawBody": true } },
        "name": "Webhook: Analyse Sentiment",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300],
        "webhookId": "ai-analyse-sentiment"
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" }] },
          "bodyParametersJson": "={ \"model\": \"gpt-4o-mini\", \"messages\": [{ \"role\": \"system\", \"content\": \"Analyse the sentiment of this customer message for PrintHub Africa. Is it Positive, Neutral, or Negative? Give a score from 1-10 where 10 is very happy and 1 is furious.\" }, { \"role\": \"user\", \"content\": \"Message: {{ $json.message }}\" }] }"
        },
        "name": "GPT-4o: Analyse Sentiment",

        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [420, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/save-sentiment",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "bodyParametersJson": "={ \"email\": \"{{ $node['Webhook: Analyse Sentiment'].json.email }}\", \"phone\": \"{{ $node['Webhook: Analyse Sentiment'].json.phone }}\", \"sentiment\": \"{{ $json.choices[0].message.content.match(/(Positive|Neutral|Negative)/)[0] }}\", \"score\": {{ parseInt($json.choices[0].message.content.match(/\\d+/)[0]) }}, \"message\": \"{{ $node['Webhook: Analyse Sentiment'].json.message }}\" }"
        },
        "name": "Save Sentiment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [640, 300]
      }
    ],
    "connections": {
      "Webhook: Analyse Sentiment": { "main": [[{ "node": "GPT-4o: Analyse Sentiment", "type": "main", "index": 0 }]] },
      "GPT-4o: Analyse Sentiment": { "main": [[{ "node": "Save Sentiment", "type": "main", "index": 0 }]] }
    }
  },
  {
    "name": "Cron AI-1 — Daily Sentiment Report (Claude)",
    "nodes": [
      {
        "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }] } },
        "name": "Schedule: Daily 9AM EAT",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "url": "https://admin.printhub.africa/api/n8n/business-data-export",
          "method": "GET",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-printhub-signature", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }] },
          "qs": [{ "name": "type", "value": "sentiment-summary" }, { "name": "days", "value": "1" }]
        },
        "name": "Fetch Daily Sentiment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [420, 300]
      },
      {
        "parameters": {
          "url": "https://api.anthropic.com/v1/messages",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" }, { "name": "anthropic-version", "value": "2023-06-01" }] },
          "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 1000, \"system\": \"You are the business intelligence analyst for PrintHub Africa...\", \"messages\": [{ \"role\": \"user\", \"content\": \"Summarise yesterday's customer sentiment data: {{ JSON.stringify($json) }}. Highlight any critical issues or very happy customers. Provide a concise 'Health of Customer Base' score out of 100.\" }] }"
        },
        "name": "Claude: Daily Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [640, 300]
      },
      {
        "parameters": {
          "url": "https://api.resend.com/emails",
          "method": "POST",
          "authentication": "headerAuth",
          "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }] },
          "bodyParametersJson": "={ \"from\": \"PrintHub AI <ai@printhub.africa>\", \"to\": \"{{$env.ADMIN_EMAIL}}\", \"subject\": \"Daily Customer Sentiment Report — {{ new Date().toLocaleDateString() }}\", \"html\": \"{{ $json.content[0].text }}\" }"
        },
        "name": "Email Daily Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [860, 300]
      }
    ],
    "connections": {
      "Schedule: Daily 9AM EAT": { "main": [[{ "node": "Fetch Daily Sentiment", "type": "main", "index": 0 }]] },
      "Fetch Daily Sentiment": { "main": [[{ "node": "Claude: Daily Summary", "type": "main", "index": 0 }]] },
      "Claude: Daily Summary": { "main": [[{ "node": "Email Daily Report", "type": "main", "index": 0 }]] }
    }
  }
]
