n8n/workflows/notifications/03-printhub-staff-alert-urgency-based-dispatcher.json
{
  "name": "4. PrintHub - Staff Alert (Urgency-Based Dispatcher)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "staff-alert-v2",
        "options": {
          "rawBody": true
        }
      },
      "name": "Webhook: Staff Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "webhookId": "staff-alert-v2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.urgency }}",
              "operation": "equal",
              "value2": "CRITICAL"
            }
          ]
        }
      },
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_STAFF_GROUP_ID }}",
        "text": "=🚨 *CRITICAL ALERT*\n\n{{ $json.message }}\n\nTime: {{ new Date().toLocaleString() }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram: Staff Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        400,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Staff Alert": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Telegram: Staff Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}