n8n/workflows/customer-support/01-ai-2-whatsapp-auto-reply-claude.json
{
  "name": "AI-2 — WhatsApp Auto-Reply (Claude)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "options": {
          "rawBody": true
        }
      },
      "name": "Webhook: WhatsApp Incoming",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.type }}",
              "value2": "audio"
            }
          ]
        }
      },
      "name": "Is Voice Note?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.body.entry[0].changes[0].value.messages[0].audio.id }}",
        "method": "GET",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            }
          ]
        }
      },
      "name": "Get Audio URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        540,
        150
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "method": "GET",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        150
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"model\": \"whisper-1\", \"language\": \"en\", \"prompt\": \"PrintHub Africa customer service. Kenyan English. Printing services, 3D printing, banners, signage.\" }",
        "sendBinaryData": true,
        "binaryPropertyName": "data"
      },
      "name": "Whisper Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        150
      ]
    },
    {
      "parameters": {
        "url": "https://admin.printhub.africa/api/n8n/get-customer-context",
        "method": "GET",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "qs": [
          {
            "name": "phone",
            "value": "={{ $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].from }}"
          }
        ]
      },
      "name": "Get Customer Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 400, \"system\": \"You are the content and customer service AI for PrintHub Africa... Note: if the customer sent a voice note, it was transcribed. Acknowledge this naturally if relevant. Context: {{ JSON.stringify($node['Get Customer Context'].json) }}\", \"messages\": [{ \"role\": \"user\", \"content\": \"Customer Message: {{ $node['Whisper Transcription'].json.text || $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].text.body }}. Write a helpful reply.\" }] }"
      },
      "name": "Claude: Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_ACCESS_TOKEN}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $node['Is Voice Note?'].json.body.entry[0].changes[0].value.messages[0].from }}\", \"type\": \"text\", \"text\": { \"body\": \"{{ $json.content[0].text.replace('[ESCALATE]', '') }}\" } }"
      },
      "name": "WhatsApp: Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://admin.printhub.africa/api/n8n/log-ai-usage",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"service\": \"Anthropic\", \"operation\": \"customer-reply\", \"model\": \"claude-opus-4-6\", \"inputTokens\": 500, \"outputTokens\": {{ $node['Claude: Generate Reply'].json.usage.output_tokens }}, \"costUsd\": {{ ($node['Claude: Generate Reply'].json.usage.input_tokens * 0.000015) + ($node['Claude: Generate Reply'].json.usage.output_tokens * 0.000075) }}, \"success\": true }"
      },
      "name": "Log AI Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1860,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://printhub.africa/api/n8n/log-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{$env.N8N_WEBHOOK_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ JSON.stringify({ workflowName: 'AI-2 WhatsApp Auto-Reply', errorMessage: $json.message || 'Unknown error', node: $json.node || 'Unknown node', executionId: $execution.id }) }}"
            }
          ]
        }
      },
      "name": "Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1860,
        500
      ]
    }
  ],
  "connections": {
    "Webhook: WhatsApp Incoming": {
      "main": [
        [
          {
            "node": "Is Voice Note?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice Note?": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Whisper Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcription": {
      "main": [
        [
          {
            "node": "Get Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Context": {
      "main": [
        [
          {
            "node": "Claude: Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Reply": {
      "main": [
        [
          {
            "node": "WhatsApp: Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp: Send Reply": {
      "main": [
        [
          {
            "node": "Log AI Usage",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}