n8n/workflows/marketing-content/05-ai-11-extended-platform-posting.json
{
  "name": "AI-11 \u2014 Extended Platform Posting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-platform-expansion",
        "options": {
          "rawBody": true
        }
      },
      "name": "Execute Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        500
      ],
      "webhookId": "ai-platform-expansion"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exportFlags.google_maps_post }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Google Maps?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "url": "=https://mybusiness.googleapis.com/v4/accounts/{{$env.GOOGLE_ACCOUNT_ID}}/locations/{{$env.GOOGLE_LOCATION_ID}}/localPosts",
        "method": "POST",
        "authentication": "oAuth2",
        "bodyParametersJson": "={ \"languageCode\": \"en\", \"summary\": \"{{ $json.captions.google_business }}\", \"callToAction\": { \"actionType\": \"SHOP\", \"url\": \"https://printhub.africa/shop/{{ $json.productSlug }}\" }, \"media\": [{ \"mediaFormat\": \"PHOTO\", \"sourceUrl\": \"{{ $json.approvedMockupUrl }}\" }], \"topicType\": \"PRODUCT\", \"offer\": { \"couponCode\": \"\", \"redeemOnlineUrl\": \"https://printhub.africa/shop/{{ $json.productSlug }}\", \"termsConditions\": \"While stocks last\" } }"
      },
      "name": "Google Maps: Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exportFlags.bing_places }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Bing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        250
      ]
    },
    {
      "parameters": {
        "url": "https://bingplaces.com/api/v1/business/posts",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Ocp-Apim-Subscription-Key",
              "value": "={{ $env.BING_MAPS_KEY }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"businessId\": \"{{ $env.BING_BUSINESS_ID }}\", \"post\": { \"title\": \"{{ $json.productName }}\", \"description\": \"{{ $json.shortDescription }}\", \"imageUrl\": \"{{ $json.approvedMockupUrl }}\", \"actionType\": \"LEARN_MORE\", \"actionUrl\": \"https://printhub.africa/shop/{{ $json.productSlug }}\" } }"
      },
      "name": "Bing Places: Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        250
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exportFlags.apple_maps }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Apple Maps?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const jwt = require('jsonwebtoken');\nconst header = { alg: 'ES256', kid: process.env.APPLE_KEY_ID };\nconst payload = { iss: process.env.APPLE_TEAM_ID, iat: Math.floor(Date.now()/1000), exp: Math.floor(Date.now()/1000)+1800, origin: 'https://printhub.africa' };\nconst privateKey = Buffer.from(process.env.APPLE_PRIVATE_KEY, 'base64').toString();\nreturn [{ token: jwt.sign(payload, privateKey, { header }) }];"
      },
      "name": "Sign Apple JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://places-api.apple.com/v1/places/{{ $env.APPLE_PLACE_ID }}/showcards",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"title\": \"{{ $node['Execute Trigger'].json.productName }}\", \"subtitle\": \"{{ $node['Execute Trigger'].json.shortDescription }}\", \"image\": { \"url\": \"{{ $node['Execute Trigger'].json.approvedMockupUrl }}\" }, \"action\": { \"type\": \"link\", \"url\": \"https://printhub.africa/shop/{{ $node['Execute Trigger'].json.productSlug }}\" } }"
      },
      "name": "Apple Maps: Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exportFlags.pigiame }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If PigiaMe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        550
      ]
    },
    {
      "parameters": {
        "url": "https://www.pigiame.co.ke/accounts/login/",
        "method": "POST",
        "bodyParametersJson": "={ \"email\": \"{{ $env.PIGIAME_EMAIL }}\", \"password\": \"{{ $env.PIGIAME_PASSWORD }}\" }"
      },
      "name": "PigiaMe: Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        550
      ]
    },
    {
      "parameters": {
        "url": "https://www.pigiame.co.ke/api/listings/create/",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.headers['set-cookie'] }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"title\": \"{{ $node['Execute Trigger'].json.productName }} \u2014 PrintHub Africa\", \"description\": \"{{ $node['Execute Trigger'].json.shortDescription }}\\n\\nProfessional quality. Fast turnaround.\\nOrder online: printhub.africa\\nWhatsApp: +254XXXXXXXXX\\nNairobi CBD and delivery available.\", \"price\": {{ $node['Execute Trigger'].json.price }}, \"location\": \"Nairobi\", \"phone\": \"{{ $env.BUSINESS_PHONE }}\" }"
      },
      "name": "PigiaMe: Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        550
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exportFlags.olx_kenya }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If OLX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://api.olx.co.ke/api/oauth/token",
        "method": "POST",
        "bodyParametersJson": "={ \"grant_type\": \"password\", \"username\": \"{{ $env.OLX_EMAIL }}\", \"password\": \"{{ $env.OLX_PASSWORD }}\", \"client_id\": \"olx-kenya-web\" }"
      },
      "name": "OLX: Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://api.olx.co.ke/api/v2/ads",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"ad\": { \"title\": \"{{ $node['Execute Trigger'].json.productName }} | PrintHub Africa | Nairobi\", \"description\": \"{{ $node['Execute Trigger'].json.description }}\\n\\n\u2705 Professional quality\\n\u2705 Fast turnaround\\n\u2705 Delivery available in Nairobi\\n\ud83c\udf10 printhub.africa\\n\ud83d\udcf1 WhatsApp: +254XXXXXXXXX\", \"price\": {{ $node['Execute Trigger'].json.price }}, \"currency\": \"KES\", \"location\": { \"city_id\": 1, \"region_id\": 1 }, \"phone_hidden\": false } }"
      },
      "name": "OLX: Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exportFlags.linkedin_newsletter }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If LinkedIn newsletter?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        1000
      ]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 2000, \"system\": \"You are writing a LinkedIn Newsletter...\", \"messages\": [{ \"role\": \"user\", \"content\": \"Write newsletter for {{ $json.productName }}.\" }] }"
      },
      "name": "Claude: LinkedIn Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        1000
      ]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/articles",
        "method": "POST",
        "authentication": "oAuth2",
        "bodyParametersJson": "={ \"author\": \"urn:li:organization:{{$env.LINKEDIN_ORGANIZATION_ID}}\", \"lifecycleState\": \"PUBLISHED\", \"specificContent\": { \"com.linkedin.ugc.ShareContent\": { \"shareCommentary\": { \"text\": \"{{ JSON.parse($json.content[0].text).headline }}\" }, \"shareMediaCategory\": \"ARTICLE\", \"media\": [{ \"status\": \"READY\", \"description\": { \"text\": \"{{ JSON.parse($json.content[0].text).subheadline }}\" }, \"originalUrl\": \"https://printhub.africa/shop/{{$json.productSlug}}\", \"title\": { \"text\": \"{{ JSON.parse($json.content[0].text).headline }}\" } }] } } }"
      },
      "name": "LinkedIn: Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        1000
      ]
    },
    {
      "parameters": {
        "url": "{{$env.POSTIZ_BASE_URL}}/api/posts",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.POSTIZ_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"post\": {{ JSON.stringify($node['Execute Trigger'].json.postizDraft) }} }"
      },
      "name": "Postiz: Publish All",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        1300
      ]
    }
  ],
  "connections": {
    "Execute Trigger": {
      "main": [
        [
          {
            "node": "If Google Maps?",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Bing?",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Apple Maps?",
            "type": "main",
            "index": 0
          },
          {
            "node": "If PigiaMe?",
            "type": "main",
            "index": 0
          },
          {
            "node": "If OLX?",
            "type": "main",
            "index": 0
          },
          {
            "node": "If LinkedIn newsletter?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postiz: Publish All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Google Maps?": {
      "main": [
        [
          {
            "node": "Google Maps: Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Bing?": {
      "main": [
        [
          {
            "node": "Bing Places: Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Apple Maps?": {
      "main": [
        [
          {
            "node": "Sign Apple JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Apple JWT": {
      "main": [
        [
          {
            "node": "Apple Maps: Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If PigiaMe?": {
      "main": [
        [
          {
            "node": "PigiaMe: Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PigiaMe: Auth": {
      "main": [
        [
          {
            "node": "PigiaMe: Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If OLX?": {
      "main": [
        [
          {
            "node": "OLX: Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OLX: Auth": {
      "main": [
        [
          {
            "node": "OLX: Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If LinkedIn newsletter?": {
      "main": [
        [
          {
            "node": "Claude: LinkedIn Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: LinkedIn Article": {
      "main": [
        [
          {
            "node": "LinkedIn: Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}