n8n/workflows/marketing-content/10-printhub-social-media-sync-bulk-publish.json
{
  "name": "9. PrintHub - Sync Social Feeds (Catalog Manager)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-social-feeds",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-sync-all",
      "name": "Webhook: Sync All",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "webhookId": "sync-social-feeds"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Sync All'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Sync All'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Sync All'].json.body;"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$vars.ADMIN_URL}}/api/n8n/product-catalogue-summary",
        "method": "GET",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-full-catalogue",
      "name": "Fetch Full Catalogue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const products = $json.products || [];\nconst metaBatch = products.map(p => ({\n  retailer_id: p.id,\n  name: p.name,\n  description: p.shortDescription || p.name,\n  availability: p.availability === 'IN_STOCK' ? 'in stock' : 'out of stock',\n  condition: 'new',\n  price: `${Math.round(p.basePriceKes * 100)} KES`,\n  link: `https://printhub.africa/shop/${p.slug}`,\n  brand: 'PrintHub Africa',\n  google_product_category: 'Arts & Entertainment > Hobbies & Creative Arts'\n}));\nreturn [{ products, metaBatch, count: products.length }];"
      },
      "id": "format-for-platforms",
      "name": "Format for Platforms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.META_CATALOG_ID }}/batch",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.META_ACCESS_TOKEN}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"allow_upsert\": true, \"requests\": {{ JSON.stringify($json.metaBatch.slice(0, 50).map(p => ({ method: 'UPDATE', retailer_id: p.retailer_id, data: p }))) }} }",
        "options": {}
      },
      "id": "meta-batch-catalog-update",
      "name": "Meta: Batch Catalog Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        150
      ]
    },
    {
      "parameters": {
        "url": "=https://business-api.tiktok.com/open_api/v1.3/catalog/product/upload/?catalog_id={{ $vars.TIKTOK_CATALOG_ID }}",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Access-Token",
              "value": "={{ $vars.TIKTOK_EVENTS_API_TOKEN }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"products\": {{ JSON.stringify($node['Format for Platforms'].json.products.slice(0,50).map(p => ({ item_content_id: p.id, title: p.name, description: p.shortDescription || p.name, price: p.basePriceKes, currency: 'KES', availability: p.availability === 'IN_STOCK' ? 'in stock' : 'out of stock', link: 'https://printhub.africa/shop/' + p.slug }))) }} }",
        "options": {}
      },
      "id": "tiktok-batch-catalog-update",
      "name": "TikTok: Batch Catalog Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        350
      ]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.RESEND_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"from\": \"PrintHub AI <ai@printhub.africa>\", \"to\": \"{{ $vars.ADMIN_EMAIL }}\", \"subject\": \"✅ Social Feed Sync Complete — {{ $node['Format for Platforms'].json.count }} products\", \"html\": \"<h2>✅ Catalog Sync Complete</h2><p>Successfully synced <strong>{{ $node['Format for Platforms'].json.count }} products</strong> to:</p><ul><li>Meta Commerce Catalog</li><li>TikTok Shop Catalog</li></ul><p style='color:#888;font-size:12px;'>{{ new Date().toLocaleString('en-GB', {timeZone:'Africa/Nairobi'}) }} EAT</p>\" }",
        "options": {}
      },
      "id": "email-sync-report",
      "name": "Email: Sync Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        250
      ]
    }
  ],
  "connections": {
    "Webhook: Sync All": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Fetch Full Catalogue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Catalogue": {
      "main": [
        [
          {
            "node": "Format for Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Platforms": {
      "main": [
        [
          {
            "node": "Meta: Batch Catalog Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok: Batch Catalog Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta: Batch Catalog Update": {
      "main": [
        [
          {
            "node": "Email: Sync Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok: Batch Catalog Update": {
      "main": [
        [
          {
            "node": "Email: Sync Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "printhub-n8n-production"
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}