n8n/workflows/marketing-content/ai-13-long-form-seo-content-engine.base.json
{
  "name": "AI-13 — Long-Form SEO Content Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 3"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "method": "POST",
        "bodyParametersJson": "={ \"model\": \"llama-3.1-sonar-large-128k-online\", \"messages\": [{ \"role\": \"user\", \"content\": \"SEO opportunities for print shop in Nairobi.\" }] }"
      },
      "name": "Perplexity: SEO Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"system\": \"Write SEO article for PrintHub Africa...\", \"messages\": [{ \"role\": \"user\", \"content\": \"{{ $node['Perplexity: SEO Research'].json.choices[0].message.content }}\" }] }"
      },
      "name": "Claude: Write Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://admin.printhub.africa/api/n8n/save-blog-draft",
        "method": "POST",
        "bodyParametersJson": "={ \"article\": {{ $json.content[0].text }} }"
      },
      "name": "Save Blog Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Perplexity: SEO Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity: SEO Research": {
      "main": [
        [
          {
            "node": "Claude: Write Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Write Article": {
      "main": [
        [
          {
            "node": "Save Blog Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}