n8n/workflows/auth-security/02-printhub-new-device-login-admin-safety.json
{
  "name": "12. PrintHub - New Device Login (Admin Security)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-device-login",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-new-login",
      "name": "Webhook: New Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "webhookId": "new-device-login"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: New Login'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: New Login'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: New Login'].json.body;"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"RESEND_API_KEY\"]}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"from\": \"PrintHub Security <security@printhub.africa>\", \"to\": [\"{{ $env[\\\"ADMIN_EMAIL\\\"] }}\", \"{{ $json.userEmail }}\"], \"subject\": \"🔑 New Device Login — {{ $json.userEmail }}\", \"html\": \"<h2>🔑 New Device Login Detected</h2><p>A new device logged into the PrintHub admin panel.</p><table style='border-collapse:collapse;width:100%;max-width:500px'><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>User</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ $json.userEmail }}</td></tr><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>IP Address</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ $json.ipAddress }}</td></tr><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>Location</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ $json.geolocation || 'Unknown' }}</td></tr><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>Device</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ ($json.userAgent || '').slice(0, 80) }}</td></tr><tr><td style='padding:8px;border:1px solid #e5e7eb'><strong>Time</strong></td><td style='padding:8px;border:1px solid #e5e7eb'>{{ new Date().toLocaleString('en-GB', {timeZone:'Africa/Nairobi'}) }} EAT</td></tr></table><p style='margin-top:16px'>If this was not you, <a href='{{ $env[\\\"ADMIN_URL\\\"] }}/admin/security' style='color:#dc2626;font-weight:bold'>revoke all sessions immediately →</a></p><p style='color:#888;font-size:12px'>PrintHub Africa Admin Security System</p>\" }"
      },
      "id": "email-new-device-alert",
      "name": "Email: New Device Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        150
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env[\"TELEGRAM_CHANNEL_ID\"] }}",
        "text": "=🔑 *New Admin Login*\n\n*User:* {{ $json.userEmail }}\n*IP:* {{ $json.ipAddress }}\n*Location:* {{ $json.geolocation || 'Unknown' }}\n*Time:* {{ new Date().toLocaleString('en-GB', {timeZone:'Africa/Nairobi'}) }} EAT\n\n_If unexpected: {{ $env[\\\"ADMIN_URL\\\"] }}/admin/security_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-new-login-alert",
      "name": "Telegram: New Login Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        400,
        350
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.geolocation }}",
              "operation": "notContains",
              "value2": "Kenya"
            }
          ]
        }
      },
      "id": "login-outside-kenya",
      "name": "Login Outside Kenya?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        250
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $env[\"WHATSAPP_PHONE_NUMBER_ID\"] }}/messages",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"WHATSAPP_ACCESS_TOKEN\"]}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $env[\\\"BUSINESS_PHONE\\\"] }}\", \"type\": \"text\", \"text\": { \"body\": \"🚨 SUSPICIOUS LOGIN\\n\\nAdmin login from OUTSIDE Kenya detected!\\n\\nUser: {{ $json.userEmail }}\\nLocation: {{ $json.geolocation }}\\nIP: {{ $json.ipAddress }}\\n\\nIf not you, revoke sessions NOW: {{ $env[\\\"ADMIN_URL\\\"] }}/admin/security\" } }"
      },
      "id": "whatsapp-suspicious-login",
      "name": "WhatsApp: Suspicious Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$env[\"ADMIN_URL\"]}}/api/n8n/log-error",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $env[\"N8N_WEBHOOK_SECRET\"] }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"type\": \"NEW_DEVICE_LOGIN\", \"message\": \"New device login for {{ $json.userEmail }} from {{ $json.ipAddress }} ({{ $json.geolocation || 'Unknown location' }})\", \"severity\": \"INFO\", \"metadata\": {{ JSON.stringify({ userId: $json.userId, ip: $json.ipAddress, location: $json.geolocation, device: $json.userAgent }) }} }"
      },
      "id": "log-security-event",
      "name": "Log Security Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: New Login": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Email: New Device Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram: New Login Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: New Device Alert": {
      "main": [
        [
          {
            "node": "Login Outside Kenya?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: New Login Alert": {
      "main": [
        [
          {
            "node": "Login Outside Kenya?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Outside Kenya?": {
      "main": [
        [
          {
            "node": "WhatsApp: Suspicious Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Security Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp: Suspicious Login": {
      "main": [
        [
          {
            "node": "Log Security Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "printhub-n8n-production"
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}