n8n/workflows/individual/ai/cron-ai-1-daily-sentiment-report-claude.json
{
  "name": "Cron AI-1 — Daily Sentiment Report (Claude)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "Schedule: Daily 9AM EAT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://admin.printhub.africa/api/n8n/business-data-export",
        "method": "GET",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "qs": [
          {
            "name": "type",
            "value": "sentiment-summary"
          },
          {
            "name": "days",
            "value": "1"
          }
        ]
      },
      "name": "Fetch Daily Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "bodyParametersJson": "={ \"model\": \"claude-opus-4-6\", \"max_tokens\": 1000, \"system\": \"You are the business intelligence analyst for PrintHub Africa...\", \"messages\": [{ \"role\": \"user\", \"content\": \"Summarise yesterday's customer sentiment data: {{ JSON.stringify($json) }}. Highlight any critical issues or very happy customers. Provide a concise 'Health of Customer Base' score out of 100.\" }] }"
      },
      "name": "Claude: Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RESEND_API_KEY}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"from\": \"PrintHub AI <ai@printhub.africa>\", \"to\": \"{{$env.ADMIN_EMAIL}}\", \"subject\": \"Daily Customer Sentiment Report — {{ new Date().toLocaleDateString() }}\", \"html\": \"{{ $json.content[0].text }}\" }"
      },
      "name": "Email Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Schedule: Daily 9AM EAT": {
      "main": [
        [
          {
            "node": "Fetch Daily Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Sentiment": {
      "main": [
        [
          {
            "node": "Claude: Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Daily Summary": {
      "main": [
        [
          {
            "node": "Email Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}