n8n/workflows/individual/base/printhub-order-status-changed-multi-channel-notify.json
{
  "name": "2. PrintHub - Order Status Changed (Multi-Channel Notify)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-status-changed",
        "options": {
          "rawBody": true
        }
      },
      "name": "Webhook: Status Changed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst signature = $node[\"Webhook: Status Changed\"].json.headers[\"x-printhub-signature\"];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node[\"Webhook: Status Changed\"].json.body)).digest('hex');\nif (signature !== hmac) throw new Error('Invalid');\nreturn $node[\"Webhook: Status Changed\"].json.body;"
      },
      "name": "Verify Internal Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.newStatus}}",
              "value2": "DISPATCHED"
            }
          ]
        }
      },
      "name": "If Dispatched",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RESEND_API_KEY}}"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "PrintHub Africa <shipping@printhub.africa>"
            },
            {
              "name": "to",
              "value": "={{$json.customerEmail}}"
            },
            {
              "name": "subject",
              "value": "=Your order {{$json.orderNumber}} is on its way!"
            },
            {
              "name": "html",
              "value": "=<p>Exciting news {{$json.customerName}}! Your order is dispatched. Tracking: {{$json.trackingNumber}}</p>"
            }
          ]
        }
      },
      "name": "Email: Dispatched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        200
      ]
    }
  ],
  "connections": {
    "Webhook: Status Changed": {
      "main": [
        [
          {
            "node": "Verify Internal Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Internal Auth": {
      "main": [
        [
          {
            "node": "If Dispatched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Dispatched": {
      "main": [
        [
          {
            "node": "Email: Dispatched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}