n8n/workflows/catalog-inventory/03-printhub-product-updated-differential-check.json
{
  "name": "8. PrintHub - Product Updated (Price/Stock Differential)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-updated",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-product-update",
      "name": "Webhook: Product Update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "webhookId": "product-updated"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst sig = $node['Webhook: Product Update'].json.headers['x-printhub-signature'];\nconst hmac = crypto.createHmac('sha256', process.env.N8N_WEBHOOK_SECRET).update(JSON.stringify($node['Webhook: Product Update'].json.body)).digest('hex');\nif (sig !== hmac) throw new Error('Invalid signature');\nreturn $node['Webhook: Product Update'].json.body;"
      },
      "id": "verify-signature",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { changes, oldValues, newValues } = $json;\nconst oldPrice = parseFloat(oldValues?.basePrice || 0);\nconst newPrice = parseFloat(newValues?.basePrice || 0);\nconst priceDiff = oldPrice > 0 ? Math.abs((newPrice - oldPrice) / oldPrice) * 100 : 0;\nconst isPriceChange = priceDiff >= 5;\nconst isStockChange = changes?.includes('stock') || changes?.includes('availability');\nconst isGoingOutOfStock = isStockChange && (newValues?.stock === 0 || newValues?.availability === 'OUT_OF_STOCK');\nreturn [{ ...$json, priceDiff: priceDiff.toFixed(1), isPriceChange, isStockChange, isGoingOutOfStock, priceDirection: newPrice > oldPrice ? 'increase' : 'decrease' }];"
      },
      "id": "calculate-differential",
      "name": "Calculate Differential",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isPriceChange }}",
              "value2": true
            }
          ]
        }
      },
      "id": "significant-price-change",
      "name": "Significant Price Change?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $env[\"META_AD_ACCOUNT_ID\"] }}/products",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"META_ACCESS_TOKEN\"]}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"retailer_id\": \"{{ $json.productId }}\", \"price\": {{ Math.round($json.newValues.basePrice * 100) }}, \"currency\": \"KES\", \"availability\": \"{{ $json.newValues.stock > 0 ? 'in stock' : 'out of stock' }}\" }"
      },
      "id": "meta-update-catalog-price",
      "name": "Meta: Update Catalog Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isGoingOutOfStock }}",
              "value2": true
            }
          ]
        }
      },
      "id": "going-out-of-stock",
      "name": "Going Out of Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        450
      ]
    },
    {
      "parameters": {
        "url": "={{$env[\"ADMIN_URL\"]}}/api/n8n/get-template",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $env[\"N8N_WEBHOOK_SECRET\"] }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"slug\": \"stock-alert-email\", \"type\": \"EMAIL\" }"
      },
      "id": "fetch-stock-alert-template",
      "name": "Fetch Stock Alert Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        350
      ]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"RESEND_API_KEY\"]}}"
            }
          ]
        },
        "bodyParametersJson": "={ \"from\": \"PrintHub Stock <stock@printhub.africa>\", \"to\": \"{{ $env[\\\"ADMIN_EMAIL\\\"] }}\", \"subject\": \"{{ $node['Fetch Stock Alert Template'].json.subject }}\", \"html\": \"{{ ($node['Fetch Stock Alert Template'].json.bodyHtml || '').replace(/{{productName}}/g, $json.productName).replace(/{{sku}}/g, $json.sku || 'N/A').replace(/{{productId}}/g, $json.productId) }}\" }"
      },
      "id": "email-out-of-stock-alert",
      "name": "Email: Out of Stock Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        450
      ]
    },
    {
      "parameters": {
        "url": "={{$env[\"ADMIN_URL\"]}}/api/n8n/mark-product-exported",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $env[\"N8N_WEBHOOK_SECRET\"] }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"productId\": \"{{ $json.productId }}\" }"
      },
      "id": "mark-product-synced",
      "name": "Mark Product Synced",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Product Update": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Calculate Differential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Differential": {
      "main": [
        [
          {
            "node": "Significant Price Change?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Going Out of Stock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Significant Price Change?": {
      "main": [
        [
          {
            "node": "Meta: Update Catalog Price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Product Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta: Update Catalog Price": {
      "main": [
        [
          {
            "node": "Mark Product Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Going Out of Stock?": {
      "main": [
        [
          {
            "node": "Fetch Stock Alert Template",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Stock Alert Template": {
      "main": [
        [
          {
            "node": "Email: Out of Stock Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Out of Stock Alert": {
      "main": [
        [
          {
            "node": "Mark Product Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "printhub-n8n-production"
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}