n8n/workflows/catalog-inventory/04-ai-4-auto-generate-product-descriptions-claude.json
{
  "name": "AI-4 — Auto-Generate Product Descriptions (Claude)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-product-description",
        "options": {
          "rawBody": true
        }
      },
      "name": "Webhook: Generate Descriptions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "ai-generate-descriptions"
    },
    {
      "parameters": {
        "url": "https://admin.printhub.africa/api/n8n/get-product-context",
        "method": "GET",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "qs": [
          {
            "name": "productId",
            "value": "={{ $json.productId }}"
          }
        ]
      },
      "name": "Get Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "bodyParametersJson": "={ \"model\": \"claude-3-5-sonnet-20240620\", \"max_tokens\": 2000, \"system\": \"You are the Lead Content Strategist for PrintHub Africa. Your task is to analyze product data and images to create high-conversion, SEO-optimized e-commerce content. You must return valid JSON with keys: mainDescription, shortDescription, keyFeatures (array), metaTitle, metaDescription.\", \"messages\": [ { \"role\": \"user\", \"content\": [ {{ $node['Get Context'].json.images[0] ? '{ \"type\": \"image\", \"source\": { \"type\": \"url\", \"url\": \"' + $node['Get Context'].json.images[0] + '\" } },' : '' }} { \"type\": \"text\", \"text\": \"Analyze this product: {{ $node['Get Context'].json.name }}. Category: {{ $node['Get Context'].json.category }}. Price: KES {{ $node['Get Context'].json.basePrice }}. Vision Analysis: If an image is provided, describe its visual appeal, texture, and physical attributes. Guidelines: 1. Tone: Professional yet energetic. 2. Main Description: ~200 words, HTML formatted (<p>, <ul>, <strong>). 3. Key Features: Exactly 5 items. 4. Output: STRICT JSON only.\" } ] } ] }"
      },
      "name": "Claude: Write Descriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://admin.printhub.africa/api/n8n/save-ai-content",
        "method": "POST",
        "authentication": "none",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-printhub-signature",
              "value": "={{ $vars.N8N_WEBHOOK_SECRET }}"
            }
          ]
        },
        "bodyParametersJson": "={ \"productId\": \"{{ $node['Get Context'].json.id }}\", \"descriptions\": {{ $json.content[0].text }} }"
      },
      "name": "Save Descriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Generate Descriptions": {
      "main": [
        [
          {
            "node": "Get Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Context": {
      "main": [
        [
          {
            "node": "Claude: Write Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Write Descriptions": {
      "main": [
        [
          {
            "node": "Save Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "{{GLOBAL_ERROR_HANDLER_ID}}"
  }
}